/* global */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #F5E7DE;
    margin: 0;
}


.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}




/* container */

.container {
    display: grid;
    grid-template-columns: 75% 25%;
}


/* matrix */

div.matrix-div {
    margin: auto;
    padding: 10px;
}

/*
table.matrix {
    width: 100%;
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
}

th.matrix {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #333;
    color: #f2f2f2;
    font-weight: bold;
    border-left: 1px solid #ddd;
}

td.matrix {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    border-left: 1px solid #ddd;
}

tr.matrix:nth-child(even) td.matrix {
    background-color: #f1f1f1;
}

td.matrix:last-child, th.matrix:last-child {
    border-right: 1px solid #ddd;
}
*/



table.matrix-table {
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background: #f9f9f9;
}

tr.matrix-header {
    text-align: center;
    font-weight: bold;
    border-left: 1px solid #ddd;
    padding: 20px;
}

td.matrix-header {
    background: #333;
    color: #f2f2f2;
    text-align: center;
    font-weight: bold;
    border-left: 1px solid #ddd;
    border-radius: 0px;
    padding: 20px;
}

tr.matrix, td.matrix {
    text-align: center;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 20px;
}

td.matrix:first-child, td.matrix-header:first-child {
    border-left: none;
}

td.matrix-header:first-child {
    border-radius: 20px 0 0 0;
}

td.matrix-header:last-child {
    border-radius: 0 20px 0 0;
}

/*
td.hover01:hover {
    background-color: #dde6ee;
}

td.hover02:hover {
    background-color: #dde6ee;
}

td.hover02:first-child {
    border-radius: 0 0 0 6px;
}

td.hover02:last-child {
    border-radius: 0 0 6px 0;
}
*/





select.matrix {
    font-family: Arial, sans-serif;
    font-size: 15px;
    padding: 5px;
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #999;
    width: 80px;
    text-align: center;
}

input.matrix {
    font-family: Arial, sans-serif;
    font-size: 15px;
    padding: 5px;
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #999;
    width: 70px;
    text-align: center;
}

/*
tr.matrix:hover {
    background-color: #ddd;
    transform: scale(1.02);
    transition: transform 0.3s ease, background-color 0.3s ease;
}
*/

/*
tr.matrix.selected {
    background-color: #ffd54f;
    font-weight: bold;
}
*/



.updatebuttondiv {
    margin: auto;
    width: 200px;
}

.updatebutton {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.updatebutton:hover {
    background-color: #0056b3;
}