:root {
    --white: #F8F9FA;
    --pale: #F2F0EB;
    --black: #000000;
    --darkgray: #393939;
    --gray: #CFD8DC;
    --lightgray: #f1f1f1;
    --lightgreen: #04a96d;
    --palegreen: #4fd1a2;
    --darkgreen: #0c9a65;
    --input_background: #eee;
    --input_shadow: #999;
    --table_border: #ddd;
    --highlight: #b9f755;
}

html {
    box-sizing: border-box;
    min-height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--pale);
    color: var(--black);
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    overflow-y: scroll;
    padding: 0;
}

main {
    margin: 0 auto 1rem auto;
    width: 60%;
}


/* header */
#top-container {
    background-color: var(--darkgray);
    display: flex;
    height: 6rem;
    justify-content: space-between;
    width: 100%;
}

header {
    display: inherit;
}

#logo {
    margin: auto 2rem auto 6rem;
}

#title {
    align-self: flex-end;
    color: var(--pale);
    font-size: 24px;
    line-height: 0.2rem;
}

nav {
    height: inherit;
}

nav ul {
    display: inline-block;
    height: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.nav-top {
    display: inherit;
    height: inherit;
    margin: 0 0 0 -0.3rem;
}

.nav-sub {
    background-color: var(--darkgray);
    display: inherit;
}

nav a {
    color: var(--white);
    display: block;
    height: inherit;
    text-decoration: none;
}

.nav-top a {
    padding: 4rem 1rem 0 1rem;
}

.nav-sub a {
    padding: 1rem;
}

nav a:hover {
    background-color: var(--darkgreen);
}

nav ul ul li {
    display: list-item;
    float: none;
    position: relative;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 6rem;
}

nav ul li:hover > ul {
    display: inherit;
}



/* footer */
footer {
    background-color: var(--darkgray);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    line-height: 0.35rem;
    margin-top: auto;
    width: 100%;
}

#footer-left {
    padding-left: 1.5rem;
    text-align: left;
}

#footer-right {
    padding-right: 1.5rem;
    text-align: right;
}


/* toasts */
.tooltip-toast {
    animation: fadeout 4s forwards;
    background-color: var(--darkgray);
    border-radius: 0.5rem;
    color: var(--white);
    display: block;
    font-size: 1rem;
    margin: 1rem auto;
    max-width: 16rem;
    padding: 0.5rem 1rem;
    position: relative;
    text-align: center;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}



/* drag and drop */
#home-drop {
    align-items: center;
    border: 2px dashed var(--darkgray);
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    height: 14rem;
    justify-content: center;
    padding: 1rem;
    position: relative;
    transition: background .2s ease-in-out;
    width: 30rem;
}

#home-drop:hover, #home-drop.drag-active {
    background-color: var(--input_background);
}

#drop-title {
    font-size: 1.25rem;
    text-align: center;
}



/* file input */
input[type=file] {
    border: 1px solid var(--darkgray);
    border-radius: 0.5rem;
    cursor: pointer;
    max-width: 100%;
    padding: 0.5rem;
}

input[type=file]::file-selector-button {
    background-color: var(--darkgreen);
    border: none;
    border-radius: 0.5rem;
    color: var(--white);
    font-size: 1rem;
    margin-right: 1rem;
    padding: 0.75rem 1.25rem;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background-color: var(--lightgreen);
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.5rem 1rem;
}

#home-input {
    width: 24rem;
}

#settings-input {
    margin: 0 0 0 0.25rem;
    width: 13rem;
}

#settings-input:hover {
    background-color: var(--gray);
    transition: background .2s ease-in-out;
}

#settings-input::file-selector-button {
    display: none;
}




/* buttons */
button {
    background-color: var(--darkgreen);
    border: 2px solid var(--darkgreen);
    border-radius: 0.5rem;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    touch-action: manipulation;
    will-change: transform;
}

button:hover {
    background-color: var(--lightgreen);
    border: 2px solid var(--lightgreen);
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.5rem 1rem;
    color: var(--white);
    transform: translateY(-2px);
}

#submit-les-button {
    height: 5rem;
    margin: 0 0 0 2rem;
    width: 14rem;
}

#submit-example-les-button {
    margin: 0 0 0 2rem;
    width: 14rem;
}

#mypay-button {
    margin: 0 0 0 2rem;
    width: 14rem;
}

#update-les-button {
    margin: 0.35rem 0;
    width: 12rem;
}

#export-button {
    margin: 0.35rem 0 0.35rem 0.5rem;
    width: 6rem;
}

#return-home-button {
    margin: 0.35rem 0 0.35rem 0.5rem;
    width: 12rem;
}



/* dropdowns */
select.pos-table {
    background-color: var(--input_background);
    border: 1px solid var(--input_shadow);
    border-radius: 0.25rem;
    box-shadow: 1px 1px 2px var(--input_shadow);
    font-family: Arial, sans-serif;
    font-size: 0.92rem;
    height: 1.85rem;
    margin: -0.5rem;
    padding: 0.25rem;
    text-align: center;
    width: 4.6rem;
}

#months-dropdown {
    width: 2.5rem;
}

#export-dropdown {
    margin: 0;
}


/* input boxes */
input.pos-table {
    background-color: var(--input_background);
    border: 1px solid #999;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 2px #999;
    font-family: Arial, sans-serif;
    font-size: 0.92rem;
    height: 1.85rem;
    margin: -0.5rem;
    padding: 0.25rem;
    text-align: center;
    
}

.num-input-long {
    width: 4.6rem;
}

.num-input-short {
    width: 2.5rem;
}


/* checkboxes */
input[type=checkbox] {
    accent-color: var(--darkgreen);
    background-color: var(--input_background);
    border: 1px solid var(--input_shadow);
    border-radius: 0.25rem;
    box-shadow: 1px 1px 2px var(--input_shadow);
    height: 1.25rem;
    width: 1.25rem;
}

#combat-zone-checkbox {
    margin: -0.5rem;
}

#settings-checkbox {
    margin: -0.5rem 0rem -0.5rem 0rem;
}


/* content */
#content {
    max-width: 100%;
}

.about, .faq, .resources {
    margin: 0 auto;
    max-width: 60%;
}


/* home */
#home-form {
    text-align: center;
}

#home-table {
    margin: auto;
}


/* paydf group */
#paydf-group {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#paydf-options-settings {
    align-items: flex-start;
    display: flex;
    gap: 1rem;
    margin: 1rem 0 0 0;
    max-width: 100%;
}

#paydf {
    flex-shrink: 1;
    margin: 1rem;
    overflow-x: auto;
    white-space: nowrap;
}

#options-settings {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 1rem;
}

#options {
    margin: 1rem;
}

#settings {
    margin: 1rem;
}

#les-image {
    border: 1px solid var(--table_border);
    display: inline-block;
    line-height: 0;
    margin: 1rem;
    position: relative;
}


/* paydf-options-settings tables */
table.pos-table {
    background-color: var(--white);
    border: 1px solid var(--table_border);
    border-collapse: separate;
    border-radius: 1.5rem;
    border-spacing: 0px;
}

tr.pos-table-header {
    border-left: 1px solid var(--table_border);
    font-weight: bold;
    text-align: center;
    top: 0;
}

td.pos-table-header {
    background-color: var(--darkgray);
    border-left: 1px solid var(--table_border);
    border-radius: 0px;
    color: var(--white);
    font-weight: bold;
    text-align: center;
    padding: 1.25rem;
}

tr.pos-table, td.pos-table {
    border-left: 1px solid var(--table_border);
    border-top: 1px solid var(--table_border);
    text-align: center;
}

tr.pos-table:nth-child(even) td.pos-table {
    background-color: var(--lightgray);
}

tr.pos-table:not(:first-child), td.pos-table:not(:first-child) {
    padding: 1.25rem;
}

td.pos-table:first-child, td.pos-table-header:first-child {
    border-left: none;
}

td.pos-table-header:first-child {
    border-radius: 1.5rem 0 0 0;
}

td.pos-table-header:last-child {
    border-radius: 0 1.5rem 0 0;
}

tbody.pos-table-section tr:last-child td {
    border-bottom: 6px solid var(--gray);
}

#options-table, #settings-table {
    width: 31rem;
}

.settings-row {
    display: inline-block;
}





/* modals */
.modal {
    background: rgba(0,0,0, .9);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    text-align: left;
    top: 0;
    transition: opacity .3s ease;
    visibility: hidden;
}

.modal-bg {
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.modal-state {
    display: none;
}

.modal-state:checked + .modal {
    opacity: 1;
    visibility: visible;
}

.modal-state:checked + .modal .modal-inner {
    top: 0;
}

.modal-inner {
    background-color: var(--white);
    border-radius: 1rem;
    bottom: 0;
    height: fit-content;
    left: 0;
    margin: auto;
    overflow: auto;
    padding: 0 2rem 0.75rem 2rem;
    position: absolute;
    right: 0;
    top: -20%;
    transition: top .3s ease;
    width: 60%;
}

.modal-close {
    cursor: pointer;
    height: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 1rem;
}

.modal-close:after, .modal-close:before {
    background-color: var(--darkgray);
    content: '';
    display: block;
    height: 1.5rem;
    left: 50%;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
    width: 2px;
}

.modal-close:before {
    transform: rotate(-45deg);
}

.modal-button {
    cursor: pointer;
    display: block;
    margin: -1px;
    padding: 1.25rem 1rem 1.25rem 1rem;
}

.modal-button:hover, .modal-button:focus {
    background-color: var(--palegreen);
}

.modal-text-small {
    font-size: 12px;
}

.modal-table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.75rem 1rem;
    margin: auto;
    text-align: center;
}


/* les image */
.rect-highlight {
    cursor: pointer;
    position: absolute;
}

.rect-highlight:hover {
    background-color: rgba(5, 219, 141, 0.5);
}

.tooltip {
    background-color: var(--darkgray);
    border-radius: 0.5rem;
    color: var(--white);
    display: none;
    font-size: 0.85rem;
    max-width: 28rem;
    position: absolute;
    padding: 0.25rem 0.5rem;
    z-index: 1001;
}



/* tab accordion */
.tabs {
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.5rem 1rem;
    overflow: hidden;
    flex: 1;
}

.tab {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid var(--table_border);
}

.tab-label {
    background-color: var(--lightgray);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}

.tab-label:hover {
    background-color: var(--palegreen);
}

.tab-label::after {
    content: "\276F";
    height: 1rem;
    text-align: center;
    transition: all 0.35s;
    width: 1rem;
}

.tab-content {
    background-color: var(--white);
    padding: 0 1rem;
    transition: all 0.35s;
    max-height: 0;
}

.faq-checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.faq-checkbox:checked + .tab-label {
   background-color: var(--palegreen);
}

.faq-checkbox:checked + .tab-label::after {
    transform: rotate(90deg);
}

.faq-checkbox:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1rem;
}



/* resources */
.resource-container {
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.5rem 1rem;
    overflow: hidden;
    flex: 1;
}

.resource-container a {
    color: var(--black);
    text-decoration: none;
}

.resource {
    background-color: var(--lightgray);
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid var(--table_border);
    padding: 1rem;
}

.resource:hover {
    background-color: var(--palegreen);
}


/* remarks */
.remarks {
    border-radius: 0.5rem;
    overflow: hidden;
    flex: 1;
    margin: 0 0 2rem 0;
    width: 60%;
}

.remark {
    background-color: var(--lightgray);
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid var(--table_border);
    padding: 1rem;
}


.shadow {
    box-shadow: 0.25rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

/* default css for settings */
#paydf-table.highlight-mode .paydf-highlight {
    background-color: var(--highlight);
}

.paydf-variable-row {
    display: none;
}

.options-standard-row {
    display: none;
}
