:root {
    --white: #F8F9FA;
    --pale: #f5e7de;
    --black: #000000;
    --darkgray: #393939;
    --gray: #5F6368;
    --lightgray: #C2C3C5;
    --lightgreen: #04a96d;
    --darkgreen: #0c9a65;
}

html {
    box-sizing: border-box;
    min-height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--pale);
    color: var(--black);
    overflow-y: scroll;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin: auto;
    width: 60%;
}


.header {
    display: flex;
    background-color: var(--darkgray);
    height: 90px;
    width: 100%;
}

.header-item {
    color: var(--pale);
    flex: 1;
    align-self: flex-end;
}

#header-logo {
    float: left;
    transform: scale(0.5);
    margin: -30px -50px -30px 0px;
}

#header-text {
    text-align: left;
    font-size: 26px;
    line-height: 4px;
}

#header-nav {
    flex-grow: 3;
}

#header-nav a {
    float: right;
    color: var(--white);
    text-align: center;
    padding: 60px 12px 15px 12px;
    text-decoration: none;
    font-size: 17px;
    vertical-align: bottom;
}

#header-nav a:hover {
    background-color: var(--darkgreen);
}


footer {
    background-color: var(--darkgray);
    text-align: left;
    padding: 0px 0px 0px 12px;
    bottom: 0;
    width: 100%;
    color: var(--white);
    font-size: 12px;
    line-height: 1px;
    margin-top: auto;
}


#core {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

#core-home {
    text-align: center;
}

#core-submit {
    margin: auto;
}

#submit-les {
    width: 100px;
}

#submit-example {
    width: 200px;
}

#input-submit {
    border: 3px dashed var(--darkgray);
    height: 140px;
    width: 400px;
    border-radius: 20px;
}



input[type=file] {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

input[type=file]:hover {
    background-color: var(--lightgreen);
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button {
    display: none;
}


input[type=submit] {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--darkgray);
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--lightgreen);
    transition: background .2s ease-in-out;
}



#paydf-options-settings {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    gap: 1rem;
}

#paydf {
    overflow-x: auto;
    white-space: nowrap;
    padding: 1rem;
    flex-shrink: 1;
}

#options-settings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-shrink: 0;
    padding: 1rem;
}




table.core {
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background: var(--white);
}

tr.core-header {
    text-align: center;
    font-weight: bold;
    border-left: 1px solid #ddd;
    top: 0;
    /*position: sticky;*/
}

td.core-header {
    background: #333;
    color: var(--white);
    text-align: center;
    font-weight: bold;
    border-left: 1px solid #ddd;
    border-radius: 0px;
    padding: 20px;
}

tr.core, td.core {
    text-align: center;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

tr.core:nth-child(even) td.core {
    background-color: #f1f1f1;
}

tr.core:not(:first-child), td.core:not(:first-child) {
    padding: 20px;
}

td.core:first-child, td.core-header:first-child {
    border-left: none;
}

td.core-header:first-child {
    border-radius: 20px 0 0 0;
}

td.core-header:last-child {
    border-radius: 0 20px 0 0;
}

/*
td.hover01:hover {
    background-color: #dde6ee;
}

td.hover02:hover {
    background-color: #dde6ee;
}

td.hover02:first-child {
    border-radius: 0 0 0 6px;
}

td.hover02:last-child {
    border-radius: 0 0 6px 0;
}
*/


#options-table {
    width: 490px;
}

#settings-table {
    width: 490px;
}



select.core {
    font-size: 15px;
    padding: 5px;
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #999;
    width: 80px;
    text-align: center;
    height: 30px;
    margin: -10px;
}

input.core {
    font-size: 15px;
    padding: 5px;
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #999;
    width: 80px;
    text-align: center;
    margin: -10px;
}



.updatebutton {
    background-color: var(--lightgreen);
    border: 2px solid var(--lightgreen);
    border-radius: 15px;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    outline: none;
    padding: 10px 50px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    touch-action: manipulation;
    will-change: transform;
    font-size: 16px;
    margin: 8px;
}

.updatebutton:disabled {
    pointer-events: none;
}

.updatebutton:hover {
    color: var(--white);
    background-color: var(--darkgreen);
    border: 2px solid var(--darkgreen);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.updatebutton:active {
    box-shadow: none;
    transform: translateY(0);
}




.settings-div {
    display: inline-block;
    margin: 0px;
}

select.settings {
    font-size: 15px;
    padding: 5px;
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #999;
    width: 80px;
    text-align: center;
    height: 30px;
    margin: -10px;
}

input.settings {
    font-size: 15px;
    padding: 5px;
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #999;
    width: 70px;
    text-align: center;
    height: 18px;
    margin: -10px;
}

input.settingcheckbox {
    padding: 5px;
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #999;
    height: 20px;
    width: 20px;
    accent-color: #04AA6D;
}






/* Modal */

.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0,0,0, .9);
    transition: opacity .3s ease;
}

.modal-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.modal-state {
    display: none;
}

.modal-state:checked + .modal {
    opacity: 1;
    visibility: visible;
}

.modal-state:checked + .modal .modal-inner {
    top: 0;
}

.modal-inner {
    transition: top .3s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    margin: auto;
    overflow: auto;
    background: #fff;
    border-radius: 20px;
    padding: 1em 2em;
    height: fit-content;
}

.modal-close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
}

.modal-close:after, .modal-close:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
}

.modal-close:hover:after, .modal-close:hover:before {
    background: #aaa;
}

.modal-close:before {
    transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
    .modal-inner {
        width: 90%;
        height: 90%;
        box-sizing: border-box;
    }
}

.modalbutton {
    cursor: pointer;
    display: block;
    padding: 20px;
    margin: -1px;
}

.modalbutton:hover, .modalbutton:focus {
    background: #2ecc71;
}

.modalbutton:active {
    background: #27ae60;
    box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}


.modal-text-big {
    font-size: 24px;
    font-weight: bold;
    margin-top: 4px;
}

.modal-text-small {
    font-size: 12px;
}

.modal-table {
    text-align: center;
    border: 1px solid black;
    padding: 12px 36px 12px 36px;
    border-collapse: collapse;
    margin: auto;
}



details {
    transition: 0.2s background linear;
    border-bottom: 1px solid #393939;
    margin: 20px;
}

summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    font-size: 24px;
    font-weight: bold;
}

summary:hover {
    color: #393939;
    transition: 0.5s ease;
}

summary::after {
    content: '';
    border-top: 12px solid #393939;
    border-inline: 9px solid transparent;
    transition: 0.5s;
    margin: 0px;
}

details[open] > summary::after {
    transform: rotate(-180deg);
}



#les-image {
    position: relative;
    display: inline-block;
}

.rect-highlight {
    position: absolute;
    cursor: pointer;
}

.rect-highlight:hover {
    background-color: rgba(5, 219, 141, 0.5);
}

.tooltip {
    position: absolute;
    padding: 4px 8px;
    background: var(--darkgray);
    color: var(--white);
    border-radius: 8px;
    display: none;
    z-index: 1001;
    max-width: 400px;
    font-size: 14px;
}

