<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayLES</title>
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <div class="header-container">
            <div class="header-item" id="logo">
                <a href="{{ url_for('index') }}"><img src="{{config['LOGO']}}" alt="PayLES Logo"></a>
            </div>
            <div class="header-item">
                <p id="header-text">program analyzing your LES</p>
            </div>
            <div class="header-item" id="header-nav">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('about') }}">About</a>
                <a href="{{ url_for('faq') }}">FAQ</a>
                <a href="{{ url_for('resources') }}">Resources</a>
                <a href="{{ url_for('contact') }}">Contact</a>
                <a href="{{ url_for('leave') }}">Leave Calculator</a>
                <a href="https://github.com/PayLES/PayLES" target="_blank">GitHub</a>
            </div>
        </div>
    </header>

    <main>
        <h2>About PayLES</h2>
        <p>
            PayLES is an online web application which provides United States military members a fast and simple way to view their future finances according to their
            monthly pay document, a Leave and Earnings Statement (LES). PayLES stands for “Program analyzing your LES”. It allows users to upload their LES and forecasts
            out what their base pay, housing allowance, taxes, and more will be for future months. Users can add more information such as future location moves, promotions,
            number of dependents, and more. The additional information provided allows for more accurate pay forecasts.
        </p>
        <p>
            An LES is a static document provided at the end of every month to all military service members. It contains information for the month including entitlements
            (base pay, housing allowance, etc.), deductions (federal and state taxes, social security, automatic savings deposits, etc.), and allotments (payments made
            directly to other entities). It is then summarized, showing how much the individual made over the month. This program will utilize the calculations used
            to project the payments of the current month and extrapolate them out to future months.
        </p>
        <p>
            Currently, no application of such kind exists. There are other military pay calculators which are available; however, all are for hypothetical situations a
            service member may find themselves in. While there are editable variables, most require lots of user information to be effective which is slow and cumbersome.
            They also only apply for one month and provide a guestimate as to the gross pay and net pay.
        </p>
        <p>
            This main stand-out for this project compared to similar applications is the ability to read in an uploaded LES from a user. This functionality allows for
            all the values on the application to be based off the actual pay the service members is receiving. Similar applications do not have this level of granularity
            and put the service member into broad categories of pay which are not personalized to each individual user’s circumstances.
        </p>
        <p>
            The second aspect is the ability for users to change variables in their pay based off anticipated changes, up to 12 months in the future. Other calculators
            only determine pay based off the current month with current percentages for things such as federal tax rate, state tax rate, and more. This application takes
            the dimension of time into account and allows users to see how their pay will change over time as various life events occur such as moving, promoting, and more.
        </p>
        <p>
            By having the ability for users to upload their own personal LES, it provides an accurate estimate into the service members future since all values are
            based off actuals provided in their LES. It additionally saves time and effort since the data is already available. The program is also made using a fast,
            lightweight application framework with a simple and intuitive graphical user interface, saving time for the users as they utilize the program.
        </p>
        <p>
            PayLES is completely free and open source, with no advertisements or signups required. There are no user accounts or needing any information from the user.
            It is accessible on any modern web browser. All of this combines into a single application helping service members budget out their future finances and achieve
            financial wellness.
        </p>


        <h2>Background</h2>
        <p>
            According to Brendan Duebner in his paper "A Military Solution to a Military Problem - Personal Finance Issues in the United States Armed Forces", he conducted
            an analysis of personal finances for military service members and found many members are not financially secure and struggle with basic finances. This is especially
            true for junior service members, who are typically young, inexperienced, right out of high school, and particularly exposed to financial struggles.
        </p>
        <p>
            He found that approximately 60 percent of families in the military could not meet three months’ worth of living expenses with their savings. This was also
            corroborated by another study by Blue Star Family, which found that 62 percent of military families are stressed about their financial situation. If a major
            life event or stressor occurs in those families’ lives, then they could be susceptible to various problems. This includes mental health issues, going without
            basic necessities, and even could lead to coercion or financial blackmail.
        </p>
        <p>
            By providing service members with an application which can accurately budget out future months of finances, it will provide direct benefits as well as second
            and third-order effects. This includes reducing stress, anxiety, and vulnerability. It also allows service members to work on building savings, which are
            necessary to reduce living paycheck to paycheck. Second and third-order effects are an increase in military readiness having service members who are financially,
            mentally, and morally healthy.
        </p>

        <h2>Acknowledgements</h2>
        <p>
            I would first like to thank Professor Adil Ahmad for his support during this project as my advisor. His understanding, grace, and guidance were instrumental in
            helping me successfully complete this project. Additionally, I would like to thank Dr. Yinong Chen for helping run this course and providing higher-level support.
            I also have major kudos to all the individuals who helped in the testing of the program and for providing valuable feedback. Without all the time and effort spent
            on making sure the program met all its objectives, PayLES would not be achieving its full potential. And finally, all the countless developers of the various
            libraries and datasets that were made freely available for use in this project.
        </p>
    </main>

    <footer>
        <div class="footer">
            <p>All Rights Reserved &#xA9; 2025 PayLES</p>
        </div>
    </footer>
</body>
</html>