<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PayLES</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='graphics/favicon.ico') }}">
        <link rel="stylesheet" href="/static/style.css">
        <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/xlsx.full.min.js') }}"></script>
    </head>

    <body>
        <div id="header-nav">
            <header>
                <div id="logo">
                    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='graphics/logo.png') }}" alt="PayLES Logo"></a>
                </div>
                <div id="title">
                    Program analyzing your LES
                </div>
            </header>

            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('faq') }}">FAQ</a></li>
                    <li><a href="{{ url_for('resources') }}">Resources</a></li>
                    <!--<li><a href="{{ url_for('leave') }}">Leave Calculator</a></li>-->
                    <li><a href="https://github.com/west757/PayLES" target="_blank">GitHub</a></li>
                </ul>
            </nav>
        </div>

        <div id="toast-container"></div>
        <div id="tooltip-container"></div>

        <div id="content" hx-swap-oob="true">
            {% block content %}{% endblock %}
        </div>

        <footer>
            <div id="footer-left">
                &copy; 2025 PayLES - <a href="https://github.com/west757/PayLES/blob/main/LICENSE" target="_blank">MIT License</a>
            </div>
            <div id="footer-right">
                {{ config['VERSION'] }}
            </div>
        </footer>

        <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/home.js') }}"></script>
        <script src="{{ url_for('static', filename='js/budget.js') }}"></script>
        <script src="{{ url_for('static', filename='js/insert.js') }}"></script>
    </body>
</html>