{% set BUDGET_TEMPLATE = config.BUDGET_TEMPLATE %}
{% set VARIABLE_TEMPLATE = config.VARIABLE_TEMPLATE %}


{% macro format_cell(row, col) %}
    {% set cell_val = row[col] %}
    {% if row.dtype != 'decimal' %}
        {% if row.type == 't' %}
            {{ cell_val }}%
        {% else %}
            {{ cell_val }}
        {% endif %}
    {% else %}
        {% set val = cell_val|string %}
        {% if val.startswith('-') %}
            -${{ val[1:] }}
        {% else %}
            ${{ val }}
        {% endif %}
    {% endif %}
{% endmacro %}


<table id="budget-table" class="styled-table">
    <tbody>
        <tr>
            <td class="styled-table-header"></td>
            {% for col in month_headers %}
                <td class="styled-table-header">{{ col }}</td>
            {% endfor %}
        </tr>

        {% for row in budget %}
            {% set row_class = "" %}

            {% if row.header in VARIABLE_TEMPLATE %}
                {% if VARIABLE_TEMPLATE[row.header]['type'] == 'v' %}
                    {% set row_class = "var-row" %}
                {% elif VARIABLE_TEMPLATE[row.header]['type'] == 't' %}
                    {% set row_class = "tsp-row" %}
                {% endif %}
            {% endif %}

            <tr class="{{ row_class }}">
                {% if row.type %}
                    <td class="cell">
                        <button class="cell-button" data-modal="{{ row.modal }}">
                            {{ row.header }}
                        </button>
                    </td>
                {% else %}
                    <td>
                        {{ row.header }}
                    </td>
                {% endif %}
                
                {% for col in month_headers %}
                    {% if row.editable %}
                        <td class="cell">
                            <button class="cell-button" data-row="{{ row.header }}" data-col="{{ col }}">
                                {{ format_cell(row, col) }}
                            </button>
                        </td>
                    {% else %}
                        <td>
                            {{ format_cell(row, col) }}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>


{% for modal in MODALS %}
    <input id="{{ modal.id }}" class="modal-state" type="checkbox" />
    <div class="modal">
        <label class="modal-background" for="{{ modal.id }}"></label>
        <div class="modal-inner">
            <label class="modal-close" for="{{ modal.id }}"></label>
            <h2>{{ modal.title }}</h2>
            <p>{{ modal.content|safe }}</p>

            {% if modal.id == "sgli" %}
                <table class="modal-table">
                    <tr>
                        <td>Coverage Amount</td>
                        <td>Monthly Premium Rate</td>
                        <td>TSGLI Premium Rate</td>
                        <td>Total Monthly Premium Deduction</td>
                    </tr>
                    {% for row in config['SGLI_RATES'].itertuples() %}
                    <tr>
                        <td>{{ row.coverage }}</td>
                        <td>{{ '${:,.2f}'.format(row.premium) }}</td>
                        <td>{{ '${:,.2f}'.format(row.tsglipremium) }}</td>
                        <td>{{ '${:,.2f}'.format(row.total) }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}

            <p>More Resources:</p>
            <ul>
                {% for resource in modal.resources %}
                    <li><a href="{{ resource.link }}" target="_blank">{{ resource.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}