{% macro format_cell(row, col) %}
    {% set cell_val = row[col] %}
    {% if row.field != 'float' and row.field is defined %}
        {% if row.type == 't' %}
            {{ cell_val }}%
        {% else %}
            {{ cell_val }}
        {% endif %}
    {% else %}
        {% set val = cell_val|float %}
        {% if val == 0 %}
            $0.00
        {% elif val < 0 %}
            -${{ "{:,.2f}".format(-val) }}
        {% else %}
            ${{ "{:,.2f}".format(val) }}
        {% endif %}
    {% endif %}
{% endmacro %}

<script id="budget-data" type="application/json">
    {{ budget|tojson|safe }}
</script>

<table id="budget-table" class="styled-table">
    <tbody>
        <tr>
            <td class="styled-table-header"></td>
            {% for col in month_headers %}
                <td class="styled-table-header">{{ col }}</td>
            {% endfor %}
        </tr>

        {% for row in budget %}
            {% set row_class = "" %}
            {% if row.type == 'v' %}
                {% set row_class = "var-row" %}
            {% elif row.type == 't' %}
                {% set row_class = "tsp-row" %}
            {% endif %}

            <tr class="{{ row_class }}">
                {% if row.type %}
                    <td class="cell">
                        <button class="styled-table-button modal-button" data-modal="{{ row.modal }}">
                            {{ row.header }}
                        </button>
                    </td>
                {% else %}
                    <td>
                        {{ row.header }}
                    </td>
                {% endif %}
                
                {% for col in month_headers %}
                    {% if row.editable and not loop.first %}
                        <td class="cell">
                            <button class="styled-table-button cell-button" data-row="{{ row.header }}" data-col="{{ col }}" data-field="{{ row.field }}">
                                {{ format_cell(row, col) }}
                            </button>
                        </td>
                    {% else %}
                        <td>
                            {{ format_cell(row, col) }}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
