<!-- cell formatting macro -->
{% macro format_cell(row, month) %}
    {% set cell_val = row[month] %}
    {% if row.field != 'float' %}
        {% if row.type == 'r' %}
            {{ cell_val }}%
        {% else %}
            {{ cell_val }}
        {% endif %}
    {% else %}
        {% set val = cell_val|float %}
        {% if val == 0 %}
            $0.00
        {% elif val < 0 %}
            -${{ "{:,.2f}".format(-val) }}
        {% else %}
            ${{ "{:,.2f}".format(val) }}
        {% endif %}
    {% endif %}
{% endmacro %}


<!-- send config data to scripts -->
<script id="config-data" type="application/json">
    {{ config_js|tojson }}
</script>


<!-- pay budget-->
<div class="container-budgets-settings">
    <div id="budget-pay">
        <table id="budget-pay-table" class="styled">
            <thead>
                <tr>
                    {% set year_row = pay | selectattr('header', 'equalto', 'Year') | list | first %}
                    {% set min_year = year_row[months[0]] %}
                    {% set max_year = year_row[months[-1]] %}
                    {% if min_year == max_year %}
                        {% set budget_year_text = "Budget " ~ min_year %}
                    {% else %}
                        {% set budget_year_text = "Budget " ~ min_year ~ "-" ~ max_year %}
                    {% endif %}
                    <th>{{ budget_year_text }}</th>

                    {% for month in months %}
                        <th>{{ month }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in pay %}
                    {% if row.type != 'meta' %}
                        {% set row_meta = headers | selectattr('header', 'equalto', row.header) | list | first %}
                        {% set next_row = pay[loop.index] if not loop.last else None %}

                        {% set section_types = ['var', 'ent', 'ded', 'alt', 'inc', 'exp', 'calc', 'ytd'] %}
                        {% set section_break = false %}
                        {% if row.type in section_types and (not next_row or next_row.type != row.type) %}
                            {% set section_break = true %}
                        {% endif %}

                        {% set row_class = "" %}
                        {% if row.type == 'var' %}
                            {% set row_class = "row-variable" %}
                        {% endif %}

                        <tr class="{{ row_class }}{% if section_break %} section-break {% endif %}">
                            <td class="cell cell-header">
                                <button
                                    class="button-cell button-modal-info tooltip {% if row.modal != 'none' %} clickable {% endif %}"
                                    data-modal="{{ row.modal }}"
                                    data-tooltip="{{ row_meta.tooltip if row_meta.tooltip != 'none' }}">
                                    {{ row.header }}
                                </button>
                                {% if row.editable and row.type in ['ent', 'ded', 'alt', 'inc', 'exp'] %}
                                    <button class="button-generic button-negative button-remove-row tooltip" data-header="{{ row.header }}" data-tooltip="Remove Row">
                                        ✖
                                    </button>
                                {% endif %}
                            </td>
                            
                            {% for month in months %}
                                {% if row.editable and not loop.first %}
                                    <td class="cell">
                                        <button class="button-cell button-modal-dynamic tooltip" data-budgetName="pay" data-header="{{ row.header }}" data-month="{{ month }}" data-field="{{ row.field }}" data-value="{{ row[month] }}">
                                            {{ format_cell(row, month) }}
                                        </button>
                                    </td>
                                {% else %}
                                    <td class="tooltip" data-budgetName="pay" data-header="{{ row.header }}" data-month="{{ month }}" data-field="{{ row.field }}" data-value="{{ row[month] }}">
                                        {{ format_cell(row, month) }}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<!-- tsp budget-->
<div class="container-budgets-settings">
    <div id="budget-tsp">
        <table id="budget-tsp-table" class="styled">
            <thead>
                <tr>
                    <th>TSP Calculator</th>
                    {% for month in months %}
                        <th>{{ month }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in tsp %}
                    {% set row_meta = headers | selectattr('header', 'equalto', row.header) | list | first %}

                    {% set section_break = false %}
                    {% if row.header in ['Roth TSP Bonus Rate', 'TSP Contribution Total', 'YTD TSP Contribution Total', 'Annual Deferral Remaining'] %}
                        {% set section_break = true %}
                    {% endif %}

                    {% set row_class = "" %}
                    {% if row.type in ['tot', 'rate'] %}
                        {% set row_class = "row-tsp-rate" %}
                    {% endif %}

                    <tr class="{{ row_class }}{% if section_break %} section-break {% endif %}">
                        <td class="cell cell-header">
                            <button
                                class="button-cell button-modal-info tooltip {% if row.modal != 'none' %} clickable {% endif %}"
                                data-modal="{{ row.modal }}"
                                data-tooltip="{{ row_meta.tooltip if row_meta.tooltip != 'none' }}">
                                {{ row.header }}
                            </button>
                        </td>
                        
                        {% for month in months %}
                            {% if row.editable and not loop.first %}
                                <td class="cell">
                                    <button class="button-cell button-modal-dynamic tooltip" data-budgetName="tsp" data-header="{{ row.header }}" data-month="{{ month }}" data-field="{{ row.field }}" data-value="{{ row[month] }}">
                                        {{ format_cell(row, month) }}
                                    </button>
                                </td>
                            {% else %}
                                <td class="tooltip" data-budgetName="tsp" data-header="{{ row.header }}" data-month="{{ month }}" data-field="{{ row.field }}" data-value="{{ row[month] }}">
                                    {{ format_cell(row, month) }}
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>