{% set show_all_variables = session.get('show_all_variables', False) %}
{% set highlight_changes = session.get('highlight_changes', False) %}
{% set show_all_options = session.get('show_all_options', False) %}

<div id="content" hx-swap-oob="true">
    <div id="budget-settings">
        <div id="budget">
            {% include 'budget.html' %}
        </div>

        <div id="settings-container">
            <div id="settings">
                <table class="styled-table">
                    <tbody>
                        <tr>
                            <td class="styled-table-header">Settings</td>
                        </tr>

                        <!-- months display-->
                        <tr>
                            <td>
                                <div class="settings-row">
                                    <label for="months-num-dropdown">Months Displayed:</label>
                                    <select id="months-num-dropdown" class="dropdown" name="months_num" hx-post="/update_months" hx-target="#budget" hx-swap="innerHTML">
                                        {% for x in range(2, 13) %}
                                            <option value="{{x}}" {% if x==month_headers|length %} selected {% endif %}>{{x}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </td>
                        </tr>


                        <!-- highlight changes -->
                        <tr>
                            <td>
                                <div class="settings-row">
                                    <label for="highlight-changes-checkbox">Highlight Changes:</label>
                                    <input class="input-checkbox" type="checkbox" id="highlight-changes-checkbox">
                                </div>
                            </td>
                        </tr>

                        
                        <!-- show all variables -->
                        <tr>
                            <td>
                                <div class="settings-row">
                                    <label for="show-all-variables-checkbox">Show All Variables:</label>
                                    <input class="input-checkbox" type="checkbox" id="show-all-variables-checkbox">
                                </div>
                            </td>
                        </tr>


                        <!-- show TSP options -->
                        <tr>
                            <td>
                                <div class="settings-row">
                                    <label for="show-tsp-options-checkbox">Show TSP Options:</label>
                                    <input class="input-checkbox" type="checkbox" id="show-tsp-options-checkbox">
                                </div>
                            </td>
                        </tr>


                        <!-- add custom row-->
                        <tr>
                            <td>
                                <div class="settings-row">
                                    <label>Add Custom Row</label>
                                </div>
                            </td>
                        </tr>


                        <!-- export-->
                        <tr>
                            <td>
                                <div class="settings-row">
                                    <select id="export-dropdown" class="dropdown">
                                        <option value="xlsx" selected>Excel</option>
                                        <option value="csv">CSV</option>
                                    </select>
                                </div>
                                <div class="settings-row">
                                    <button id="export-button" class="independent-button button-standard">Export</button>
                                </div>
                            </td>
                        </tr>

                        <!-- submit new les-->
                        <tr>
                            <td>
                                <div class="settings-row">
                                    <button id="return-home-button" class="independent-button button-standard" onclick="window.location.href='/'">Upload New LES</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div id="les-image">
        <img src="data:image/png;base64,{{ les_image }}" alt="LES image unable to be generated" />

        {% for rect in rect_overlay %}
        <button
            type="button"
            {% if rect.modal != "none" %}
                class="rect-highlight modal-button{% if rect.modal != 'none' %} clickable{% endif %}"
                data-modal="{{rect.modal}}"
            {% else %}
                class="rect-highlight"
            {% endif %}
            style="
                left: {{rect.x1}}px;
                top: {{rect.y1}}px;
                width: {{rect.x2 - rect.x1}}px;
                height: {{rect.y2 - rect.y1}}px;"
            data-tooltip="{{rect.tooltip}}">
        </button>
        {% endfor %}
    </div>

    <div class="tooltip" id="tooltip"></div>

    <h2 class="h2-center">Common LES Remarks</h2>
    <div id="remarks" class="shadow">
        {% for remark in LES_REMARKS %}
            <div class="remark">
                {{ remark.text|safe }}
            </div>
        {% endfor %}
    </div>


    {% for modal in MODALS %}
        <input id="{{ modal.id }}" class="modal-state" type="checkbox" />
        <div class="modal">
            <label class="modal-background" for="{{ modal.id }}"></label>
            <div class="modal-inner">
                <label class="modal-close" for="{{ modal.id }}"></label>
                <h2>{{ modal.title }}</h2>
                <p>{{ modal.content|safe }}</p>

                {% if modal.id == "sgli" %}
                    <table class="modal-table">
                        <tr>
                            <td>Coverage Amount</td>
                            <td>Monthly Premium Rate</td>
                            <td>TSGLI Premium Rate</td>
                            <td>Total Monthly Premium Deduction</td>
                        </tr>
                        {% for row in config['SGLI_RATES'].itertuples() %}
                        <tr>
                            <td>{{ row.coverage }}</td>
                            <td>{{ '${:,.2f}'.format(row.premium) }}</td>
                            <td>{{ '${:,.2f}'.format(row.tsglipremium) }}</td>
                            <td>{{ '${:,.2f}'.format(row.total) }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                {% endif %}

                <p>More Resources:</p>
                <ul>
                    {% for resource in modal.resources %}
                        <li><a href="{{ resource.link }}" target="_blank">{{ resource.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}

</div>


