<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayLES</title>
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="topnav">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('faq') }}">FAQ</a>
        <a href="{{ url_for('resources') }}">Resources</a>
        <a class="active" href="{{ url_for('contact') }}">Contact</a>
        <a href="https://github.com/PayLES/PayLES" target="_blank">GitHub</a>
    </div>

    &nbsp;
    <h1>contact</h1>

    <p>footer</p>

</body>
</html>