{% set show_all_variables = session.get('show_all_variables', False) %}
{% set highlight_changes = session.get('highlight_changes', False) %}
{% set show_all_options = session.get('show_all_options', False) %}

<div id="content" hx-swap-oob="true">
    <div id="budget-settings">
        {% include 'budget.html' %}

        <div id="settings">
            <table id="settings-table" class="styled-table">
                <thead>
                    <tr>
                        <th class="styled-table-header">Settings</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- months display-->
                    <tr>
                        <td>
                            <div class="settings-row">
                                <label for="months-num-dropdown">Months Displayed:</label>
                                <select id="months-num-dropdown" name="months_num" hx-post="/update_months" hx-target="#budget" hx-swap="innerHTML">
                                    {% for x in range(2, 13) %}
                                        <option value="{{x}}" {% if x==month_headers|length %} selected {% endif %}>{{x}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                    </tr>


                    <!-- highlight changes -->
                    <tr>
                        <td>
                            <div class="settings-row">
                                <label for="highlight-changes-checkbox">Highlight Changes:</label>
                                <input class="input-checkbox" type="checkbox" id="highlight-changes-checkbox">
                            </div>
                        </td>
                    </tr>

                    
                    <!-- show all variables -->
                    <tr>
                        <td>
                            <div class="settings-row">
                                <label for="show-all-variables-checkbox">Show All Variables:</label>
                                <input class="input-checkbox" type="checkbox" id="show-all-variables-checkbox">
                            </div>
                        </td>
                    </tr>


                    <!-- show TSP options -->
                    <tr>
                        <td>
                            <div class="settings-row">
                                <label for="show-tsp-options-checkbox">Show TSP Options:</label>
                                <input class="input-checkbox" type="checkbox" id="show-tsp-options-checkbox">
                            </div>
                        </td>
                    </tr>


                    <!-- add inject row-->
                    <tr>
                        <td>
                            <div class="settings-row">
                                <button id="button-inject" class="button-solo">Add Custom Row</button>
                            </div>
                        </td>
                    </tr>

                    <!-- LES recommendations -->
                    <tr>
                        <td>
                            <div class="settings-row">
                                <button id="button-view-recs" class="button-solo">View Budget Recommendations</button>
                            </div>
                        </td>
                    </tr>

                    <!-- export-->
                    <tr>
                        <td>
                            <div class="settings-row" style="display: flex; align-items: center; gap: 8px;">
                                <span>Export as:</span>
                                <select id="export-dropdown" class="dropdown">
                                    <option value="xlsx" selected>Excel</option>
                                    <option value="csv">CSV</option>
                                </select>
                                <button id="button-export" class="button-solo" title="Download">↯</button>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>


    <!-- render LES image and tooltips -->
    <div id="les-image">
        <img src="data:image/png;base64,{{ les_image }}" alt="LES image unable to be generated" />

        {% for rect in rect_overlay %}
        <button
            type="button"
            {% if rect.modal != "none" %}
                class="rect-highlight modal-button{% if rect.modal != 'none' %} clickable{% endif %}"
                data-modal="{{rect.modal}}"
            {% else %}
                class="rect-highlight"
            {% endif %}
            style="
                left: {{rect.x1}}px;
                top: {{rect.y1}}px;
                width: {{rect.x2 - rect.x1}}px;
                height: {{rect.y2 - rect.y1}}px;"
            data-tooltip="{{rect.tooltip}}">
        </button>
        {% endfor %}
    </div>

    <div class="tooltip" id="tooltip"></div>


    <!-- LES remarks -->
    <h2 class="h2-center">Common LES Remarks</h2>
    <div id="remarks" class="shadow">
        {% for remark in LES_REMARKS %}
            <div class="remark">
                {{ remark.text|safe }}
            </div>
        {% endfor %}
    </div>


    <!-- modals -->
    {% for modal in MODALS %}
        <input id="{{ modal.id }}" class="modal-state" type="checkbox" />
        <div class="modal">
            <label class="modal-background" for="{{ modal.id }}"></label>
            <div class="modal-inner">
                <button class="modal-close" type="button">✖</button>
                <h2>{{ modal.title }}</h2>
                <p>{{ modal.content|safe }}</p>

                {% if modal.id == "sgli" %}
                    <table class="modal-table">
                        <tr>
                            <td>Coverage Amount</td>
                            <td>Monthly Premium Rate</td>
                            <td>TSGLI Premium Rate</td>
                            <td>Total Monthly Premium Deduction</td>
                        </tr>
                        {% for row in config['SGLI_RATES'].itertuples() %}
                        <tr>
                            <td>{{ row.coverage }}</td>
                            <td>{{ '${:,.2f}'.format(row.premium) }}</td>
                            <td>{{ '${:,.2f}'.format(row.tsglipremium) }}</td>
                            <td>{{ '${:,.2f}'.format(row.total) }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                {% endif %}

                <p>More Resources:</p>
                <ul>
                    {% for resource in modal.resources %}
                        <li><a href="{{ resource.link }}" target="_blank">{{ resource.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}


    <!-- inject modal-->
    <input id="inject" class="modal-state" type="checkbox" />
    <div class="modal">
        <label class="modal-background" for="inject"></label>
        <div class="modal-inner">
            <button class="modal-close" type="button">✖</button>
            <h2>Add Custom Entitlement/Deduction/Allotment Row</h2>

            <div id="inject-grid">
                <div id="inject-type-method">
                    <!-- row type radio buttons -->
                    <div id="inject-type">
                        <span>Row Type:</span>
                        <div class="inject-radio-group">
                            <label>
                                <input id="inject-type-entitlement" type="radio" name="row-type" value="e" >
                                Entitlement (+$)
                            </label>
                            <label>
                                <input id="inject-type-deduction" type="radio" name="row-type" value="d">
                                Deduction (-$)
                            </label>
                            <label>
                                <input id="inject-type-allotment" type="radio" name="row-type" value="a">
                                Allotment (-$)
                            </label>
                        </div>
                    </div>

                    <!-- row method radio buttons -->
                    <div id="inject-method">
                        <span>Method:</span>
                        <div class="inject-radio-group">
                            <label>
                                <input id="inject-method-template" type="radio" name="row-method" value="template">
                                Choose From Template
                            </label>
                            <label>
                                <input id="inject-method-custom" type="radio" name="row-method" value="custom">
                                Create Custom Row
                            </label>
                        </div>
                    </div>
                </div>

                <div id="inject-template-custom">
                    <!-- add template row inputs -->
                    <div id="inject-template">
                        <div class="inject-template-custom-row">
                            <label class="inject-label" for="inject-template-select">Row Header:</label>
                            <select id="inject-template-select" class="input-long"></select>
                        </div>
                        <div class="inject-template-custom-row">
                            <label class="inject-label" for="inject-template-value">Initial Value:</label>
                            $&nbsp;
                            <input id="inject-template-value" class="input-mid2" type="text" placeholder="1234.56">
                        </div>
                        <div class="inject-template-custom-row">
                            <button id="inject-template-button" class="button-solo">Add Row</button>
                        </div>
                    </div>

                    <!-- add custom row inputs -->
                    <div id="inject-custom">
                        <div class="inject-template-custom-row">
                            <label class="inject-label" for="inject-custom-header">Row Header:</label>
                            <input id="inject-custom-header" class="input-long" type="text" placeholder="unique row header">
                        </div>
                        <div class="inject-template-custom-row">
                            <label class="inject-label" for="inject-custom-value">Initial Value:</label>
                            $&nbsp;
                            <input id="inject-custom-value" class="input-mid2" type="text" placeholder="1234.56">
                        </div>
                        <div class="inject-template-custom-row">
                            <label class="inject-label" for="inject-custom-tax">Tax Purposes:</label>
                            <input id="inject-custom-tax" class="input-checkbox" type="checkbox">
                        </div>
                        <div class="inject-template-custom-row">
                            <button id="inject-custom-button" class="button-solo">Add Row</button>
                        </div>
                    </div>
                </div>

                <div id="inject-info-column">
                    <div id="inject-template-info"></div>
                    <div id="inject-custom-info">
                        The Tax Purposes checkbox indicates how the row is used for tax calculations.
                        If an entitlement, sets whether the row is taxable or non-taxable income.
                        If a deduction, sets the row as a tax added to total taxes.
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- recommendations modal -->
    <input id="rec" class="modal-state" type="checkbox" />
    <div class="modal">
        <label class="modal-background" for="inject"></label>
        <div class="modal-inner">
            <button class="modal-close" type="button">✖</button>
            <h2>Budget Recommendations</h2>

            <div id="rec-content">
                <p>Your budget recommendations will appear here.</p>
            </div>
        </div>
    </div>

</div>
