{% extends "base.html" %}
{% block content %}

<div id="faq-container">
    <h2>Frequently Asked Questions</h2>
    <div class="faqs">
        {% for faq in FAQS %}
        <div class="faq">
            <input class="faq-checkbox" id="faq{{ loop.index }}" type="checkbox">
            <label class="faq-label" for="faq{{ loop.index }}">{{ faq.label|safe }}</label>
            <div class="faq-content">
                {{ faq.content|safe }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}