<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayLES</title>
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <div class="header">
            <div class="header-item" id="header-logo">
                <a href="{{ url_for('index') }}"><img src="/static/logo.png"></a>
            </div>
            <div class="header-item" id="header-text">
                <p>program analyzing your LES</p>
            </div>
            <div class="header-item" id="header-nav">
                <a href="https://github.com/PayLES/PayLES" target="_blank">GitHub</a>
                <a href="{{ url_for('leave') }}">Leave Calculator</a>
                <a href="{{ url_for('contact') }}">Contact</a>
                <a href="{{ url_for('resources') }}">Resources</a>
                <a href="{{ url_for('faq') }}">FAQ</a>
                <a href="{{ url_for('about') }}">About</a>
                <a href="{{ url_for('index') }}">Home</a>
            </div>
        </div>
    </header>

    <main>
        <h2>Frequently Asked Questions</h2>

        <details>
            <summary>How can I get an LES?</summary>
            <article>
                Visit mypay.com and download the LES from the main homepage.
            </article>
        </details>

        <details>
            <summary>Is PayLES secure?</summary>
            <article>
                Yes. PayLES will be using a SSL certificate to ensure security. Additionally, no persistent storage of any kind exists for using PayLES.
            </article>
        </details>

        <details>
            <summary>Is PayLES free and open-source?</summary>
            <article>
                Yes. PayLES is hosted on GitHub with all code available.
            </article>
        </details>

    </main>

    <footer>
        <div class="footer">
            <p>All Rights Reserved &#xA9; 2025 PayLES</p>
        </div>
    </footer>

</body>
</html>