{% extends "base.html" %}
{% block content %}

<div id="faq">
    <h2>Frequently Asked Questions</h2>

    <div class="tabs shadow">
        <div class="tab">
            <input class="faq-checkbox" id="faq1" type="checkbox">
            <label class="tab-label" for="faq1">What is PayLES?</label>
            <div class="tab-content">
                PayLES is a free and open-source web application designed to help United States military service members 
                analyze their finances using their Leave and Earnings Statement (LES). Learn more at the 
                <a href="{{ url_for('about') }}">about</a> page!
            </div>
        </div>
        <div class="tab">
            <input class="faq-checkbox" id="faq2" type="checkbox">
            <label class="tab-label" for="faq2">How do I use PayLES?</label>
            <div class="tab-content">
                PayLES is designed to be user-friendly. Simply upload your latest LES file, and the application will parse the data
                and display your current pay. You can then adjust your future finances based on anticipated changes such as promotions, 
                moves, or changes in dependents. The application will calculate your future pay for up to 12 months based on the 
                information provided.
            </div>
        </div>
        <div class="tab">
            <input class="faq-checkbox" id="faq3" type="checkbox">
            <label class="tab-label" for="faq3">How do I get an LES?</label>
            <div class="tab-content">
                An LES is provided to all military service members at the end of each month. It can be accessed through 
                the <a href="https://mypay.dfas.mil/" target="_blank">MyPay</a> website or through your unit's finance office. 
                If you are unsure how to access your LES, please contact your unit's finance office for assistance.
            </div>
        </div>
        <div class="tab">
            <input class="faq-checkbox" id="faq4" type="checkbox">
            <label class="tab-label" for="faq4">Is PayLES secure?</label>
            <div class="tab-content">
                PayLES is as secure as any other web application. It does not store any user data, and all data is processed
                in-memory without saving to disk. The application does not require any user accounts or personal information, 
                ensuring user privacy and security. Additionally, PayLES uses HTTPS to encrypt data in transit,
                providing an extra layer of security. 
            </div>
        </div>
        <div class="tab">
            <input class="faq-checkbox" id="faq5" type="checkbox">
            <label class="tab-label" for="faq5">How accurate is PayLES?</label>
            <div class="tab-content">
                PayLES strives to be as accurate as possible, however is unable to guarantee 100% accuracy 
                of the calculations. PayLES uses official U.S. government and DoD datasets and calculations to provide estimates 
                based on the information provided by the user, however each user's situation is unique and all factors cannot be 
                accounted for. Historical analysis and testing has shown that PayLES is accurate to within 2.2% of the official 
                military pay for approximately 95% of users. This means that for the vast majority of users, the estimates provided 
                by PayLES will be very close to their actual future pay. The estimates provided by PayLES are not a substitute for 
                official military pay statements or financial advice. Users should verify their own financial information and 
                consult with their finance office for any discrepancies or concerns.
            </div>
        </div>
        <div class="tab">
            <input class="faq-checkbox" id="faq6" type="checkbox">
            <label class="tab-label" for="faq6">How can I contact the developer of PayLES?</label>
            <div class="tab-content">
                The developer of PayLES can be contacted through GitHub.
            </div>
        </div>
        <div class="tab">
            <input class="faq-checkbox" id="faq7" type="checkbox">
            <label class="tab-label" for="faq7">How can I contribute to this project?</label>
            <div class="tab-content">
                The best way to contribute to PayLES is to get involved on GitHub. You can report issues, suggest 
                features, or submit pull requests to help improve the project. All contributions are welcome and appreciated!
            </div>
        </div>
    </div>
</div>

{% endblock %}