<form id="home-form" hx-post="/submit_les" hx-target="#home" hx-swap="innerHTML" enctype="multipart/form-data" method="POST">
    {{ home_form.hidden_tag() }}
    <label id="home-drop" for="{{ home_form.home_input.id }}">
        <span class="text-mid">Drop LES here</span>
        or
        {{ home_form.home_input(id="home_input", class="form-control", accept=".pdf") }}
    </label>

    <div id="home-buttons-row">
        {{ home_form.submit_les(id="submit-les-button", class="button button-standard") }}
        {{ home_form.submit_example(id="submit-example-button", class="button button-standard") }}
    </div>
</form>

{% if message %}
<div class="tooltip-toast">{{ message }}</div>
{% endif %}