<form id="home-form" hx-post="/submit_les" hx-target="#home" hx-swap="innerHTML" enctype="multipart/form-data">
    <label id="home-drop" for="home-input">
        <span class="text-mid">Drop LES here</span>
        or
        <input id="home-input" type="file" name="home-input" accept=".pdf">
    </label>

    <div id="home-buttons-row">
        <button id="submit-les-button" class="button button-standard" type="submit" name="action" value="submit-les">Submit LES</button>
        <button id="submit-example-button" class="button button-standard" type="submit" name="action" value="submit-example">Example LES</button>
    </div>
</form>

{% if message %}
<div class="tooltip-toast">{{ message }}</div>
{% endif %}