{% extends "base.html" %}
{% block content %}


<!-- send config data to scripts -->
<script id="config-data" type="application/json">
    {{ config_js | tojson }}
</script>


<div id="home">
    <div id="home-welcome">
        Welcome to PayLES, the program analyzing your U.S. Military Leave & Earnings Statement (LES)
    </div>

    <div id="tab-container">
        <div id="tab-buttons">
            <button class="tab-button active" data-tab="tab-single">Single LES Upload</button>
            <button class="tab-button" data-tab="tab-joint">Joint Spouse</button>
            <button class="tab-button" data-tab="tab-initials">Build Without LES</button>
            <button class="tab-button" data-tab="tab-example">Instructions & Example</button>
        </div>

        <div id="tab-single" class="tab-content active">
            <form id="form-single" hx-post="/route_single" hx-swap="innerHTML" enctype="multipart/form-data" method="POST">
                {{ form_single.hidden_tag() }}
                <label id="input-filedrop-single" for="input-file-single">
                    <span>Drop LES here</span>
                    or
                    {{ form_single.input_file_single(id="input-file-single", accept=".pdf") }}
                </label>
                {{ form_single.button_single(id="button-single", class="button-solo") }}
            </form>
        </div>

        <div id="tab-joint" class="tab-content">
            <form id="form-joint" hx-post="/route_joint" hx-swap="innerHTML" enctype="multipart/form-data" method="POST">
                {{ form_joint.hidden_tag() }}
                <div id="tab-joint-row">
                    <div>
                        <span>Upload Member 1 LES</span>
                        {{ form_joint.input_file_joint_1(id="input-file-joint-1", accept=".pdf") }}
                    </div>
                    <div>
                        <span>Upload Member 2 LES</span>
                        {{ form_joint.input_file_joint_2(id="input-file-joint-2", accept=".pdf") }}
                    </div>
                </div>
                {{ form_joint.button_joint(id="button-joint", class="button-solo") }}
            </form>
        </div>

        <div id="tab-initials" class="tab-content">
            <div style="font-size: 1.15rem;">Building budget for {{ CURRENT_MONTH_LONG }} {{ CURRENT_YEAR }}</div>
            <!--
            <form id="form-initials">
                <div class="initials-grid">
                    <div class="initials-column">
                        <div class="initials-row">
                            <label for="initials-years-id">Pay Entry Base Date:</label>
                            <div id="initials-years-months">
                                <div id="initials-years"></div>
                                <div id="initials-months"></div>
                            </div>
                            <span class="question tooltip" data-tooltip=
                            "Pay Entry Base Date (PEBD), used to calculate months in service">
                            ?</span>
                        </div>
                        <div class="initials-row">
                            <label for="initials-branch">Branch:</label>
                            <div id="initials-branch"></div>
                        </div>
                        <div class="initials-row">
                            <label for="initials-component">Component:</label>
                            <div id="initials-component"></div>
                        </div>
                        <div class="initials-row">
                            <label for="initials-grade">Grade:</label>
                            <div id="initials-grade"></div>
                        </div>
                        <div class="initials-row">
                            <label for="initials-drills">Drills:</label>
                            <div id="initials-drills"></div>
                        </div>
                    </div>

                    <div class="initials-column">
                        <div class="initials-row">
                            <label for="initials-home-of-record">Home of Record:</label>
                            <div id="initials-home-of-record"></div>
                        </div>
                        <div class="initials-row">
                            <label for="initials-zip-code">Zip Code:</label>
                            <div id="initials-zip-code"></div>
                        </div>
                        <div class="initials-row">
                            <label for="initials-federal-filing-status">Federal Filing Status:</label>
                            <div id="initials-federal-filing-status"></div>
                        </div>
                        <div class="initials-row">
                            <label for="initials-state-filing-status">State Filing Status:</label>
                            <div id="initials-state-filing-status"></div>
                        </div>
                        <div class="initials-row">
                            <label for="initials-dependents">Dependents:</label>
                            <div id="initials-dependents"></div>
                        </div>
                    </div>
                </div>

                <button id="button-initials" class="button-solo">Submit</button>
            </form>
        -->
        </div>

        <div id="tab-example" class="tab-content">
            PayLES is designed to build a personalized budget directly from your latest LES. For the best experience, please go to <a href="https://mypay.dfas.mil" target="_blank">MyPay.mil</a> to download your LES as a pdf and upload it here. If you do not have access to an LES or would just like to view an example LES and budget, then click the button below.
            <br /><br />
            For more information, please check out the <a href="/about">About</a> and <a href="/faq">FAQ</a> pages.
            
            <form id="form-example" hx-post="/route_single" hx-swap="innerHTML" method="POST">
                {{ form_single.hidden_tag() }}
                {{ form_single.button_example(id="button-example", class="button-solo") }}
            </form>
        </div>
    </div>

    <div id="disclaimer">
        <strong>Disclaimer:</strong> PayLES is not an official Department of Defense (DoD) or U.S. military service 
        application. It is a personal project developed by an active duty service member for educational and budgetary 
        awareness. The data provided by PayLES is for informational purposes only and should not be considered 
        official financial advice. Always consult with your finance office or a qualified financial advisor for 
        official guidance regarding your military pay and benefits.
    </div>
</div>

{% endblock %}