<div id="home-form">
    <p style="font-size: 20px;">Welcome to PayLES, the program analyzing your U.S. Military Leave & Earnings Statement (LES)</p>

    <table id="home-table">
        <tr>
            <form hx-post="/submit_les" hx-target="#content" hx-swap="innerHTML" enctype="multipart/form-data">
                <td rowspan=3>
                    <label for="home-input" id="home-drop">
                        <span id="drop-title">Drop LES here</span>
                        or
                        <input type="file" id="home-input" name="home-input" accept=".pdf">
                    </label>
                </td>
                <td>
                    <button id="submit-les-button">Submit LES</button>
                </td>
            </form>
        </tr>

        <tr>
            <form hx-post="/submit_example" hx-target="#content" hx-swap="innerHTML" enctype="multipart/form-data">
                <td>
                    <button id="submit-example-les-button">Submit Example LES</button>
                </td>
            </form>
        </tr>

        <tr>
            <form action="https://mypay.dfas.mil/#/" target="_blank">
                <td>
                    <button id="mypay-button">MyPay</button>
                </td>
            </form>
        </tr>
    </table>
</div>

{% if message %}
<div class="tooltip-toast">{{ message }}</div>
{% endif %}

<script>
    var dropContainer = document.getElementById("home-drop");
    var fileInput = document.getElementById("home-input");

    dropContainer.addEventListener("dragover", function (e) {
        e.preventDefault();
    }, false);

    dropContainer.addEventListener("dragenter", function () {
        dropContainer.classList.add("drag-active");
    });

    dropContainer.addEventListener("dragleave", function () {
        dropContainer.classList.remove("drag-active");
    });

    dropContainer.addEventListener("drop", function (e) {
        e.preventDefault();
        dropContainer.classList.remove("drag-active");
        fileInput.files = e.dataTransfer.files;
    });
</script>