<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayLES</title>
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>
    <header>
        <div class="header-container">
            <div class="header-item" id="logo">
                 <a href="{{ url_for('index') }}"><img src="{{config['LOGO']}}" alt="PayLES Logo"></a>
            </div>
            <div class="header-item">
                <p id="header-text">program analyzing your LES</p>
            </div>
            <div class="header-item" id="header-nav">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('about') }}">About</a>
                <a href="{{ url_for('faq') }}">FAQ</a>
                <a href="{{ url_for('resources') }}">Resources</a>
                <a href="{{ url_for('contact') }}">Contact</a>
                <a href="{{ url_for('leave') }}">Leave Calculator</a>
                <a href="https://github.com/PayLES/PayLES" target="_blank">GitHub</a>
            </div>
        </div>
    </header>

    <div id="core">
        <div id="core-home">
            <p style="font-size: 20px;">Welcome to PayLES, the program analyzing your U.S. Military Leave & Earnings Statement (LES)</p>

            <table id="core-submit">
                <tr>
                    <form hx-post="/submit_les" hx-target="#core" hx-swap="innerHTML" enctype="multipart/form-data">
                        <td id="submit-upload" rowspan=2>
                            <label for="submit-input" id="submit-drop">
                                <span id="drop-title">Drop LES here</span>
                                or
                                <input type="file" id="submit-input" name="file" accept=".pdf" required>
                            </label>
                        </td>
                        <td id="submit-les">
                            <button id="submit-les-button">Submit LES</button>
                        </td>
                    </form>
                </tr>

                <tr>
                    <form hx-post="/submit_example" hx-target="#core" hx-swap="innerHTML" enctype="multipart/form-data">
                        <td id="submit-example">
                            <button id="submit-example-les-button">Submit Example LES</button>
                        </td>
                    </form>
                </tr>
            </table>
        </div>
    </div>

    <footer>
        <div class="footer">
            <p>All Rights Reserved &#xA9; 2025 PayLES</p>
        </div>
    </footer>


    <script>
        var dropContainer = document.getElementById("submit-drop");
        var fileInput = document.getElementById("submit-input");

        dropContainer.addEventListener("dragover", function(e) {
          // prevent default to allow drop
          e.preventDefault();
        }, false);

        dropContainer.addEventListener("dragenter", function() {
          dropContainer.classList.add("drag-active");
        });

        dropContainer.addEventListener("dragleave", function() {
          dropContainer.classList.remove("drag-active");
        });

        dropContainer.addEventListener("drop", function(e) {
          e.preventDefault();
          dropContainer.classList.remove("drag-active");
          fileInput.files = e.dataTransfer.files;
        });
    </script>

</body>
</html>