<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>PayLES</title>
  </head>

<body>

	<h2>Upload File</h2>
	<form action = "/index" method = "POST" 
		  enctype = "multipart/form-data">
		<input type = "file" name = "file" />
		<input type = "submit"/>
	</form>

	<h2>{{filename_display}}</h2>
	<iframe src={{file_display}}, frameBorder="0", scrolling="auto", height="100%", width="100%"></iframe>

	<p>{{text_display}}</p>
	&nbsp;
	<p>test:</p>
	<p>{{var_to_find}}</p>
	<p>{{value}}</p>

</body>
</html>