<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayLES</title>
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>


    <div class="table-div" id="core-id">
        <table class="matrix-table">
            <tbody>
                <tr class="matrix-header">
                    <td class="matrix-header"></td>
                    {% for x in session.col_headers[1:] %}
                    <td class="matrix-header">{{x}}</td>
                    {% endfor %}
                </tr>

                <tr class="matrix">
                    <td class="matrix"><label class="modalbutton" for="modal-basepay">Base Pay</label></td>
                    {% for x in range(1, session['matrix'].shape[1]) %}
                    <td class="matrix">{{'${:,.2f}'.format(session['matrix'].at[session['row_headers'].index("Base Pay"), session['col_headers'][x]]).replace('$-','-$')}}</td>
                    {% endfor %}
                </tr>

                <tr class="matrix">
                    <td class="matrix"><label class="modalbutton" for="modal-bas">BAS</label></td>
                    {% for x in range(1, session['matrix'].shape[1]) %}
                    <td class="matrix">{{'${:,.2f}'.format(session['matrix'].at[session['row_headers'].index("BAS"), session['col_headers'][x]]).replace('$-','-$')}}</td>
                    {% endfor %}
                </tr>

                <tr class="matrix">
                    <td class="matrix"><label class="modalbutton" for="modal-bah">BAH</label></td>
                    {% for x in range(1, session['matrix'].shape[1]) %}
                    <td class="matrix">{{'${:,.2f}'.format(session['matrix'].at[session['row_headers'].index("BAH"), session['col_headers'][x]]).replace('$-','-$')}}</td>
                    {% endfor %}
                </tr>

                {% if "UEA Initial" in session['row_headers'] %}
                <tr class="matrix">
                    <td class="matrix"><label class="modalbutton" for="modal-ueainitial">UEA Initial</label></td>
                    {% for x in range(1, session['matrix'].shape[1]) %}
                    <td class="matrix">{{'${:,.2f}'.format(session['matrix'].at[session['row_headers'].index("UEA Initial"), session['col_headers'][x]]).replace('$-','-$')}}</td>
                    {% endfor %}
                </tr>
                {% endif %}

                {% if "Advance Debt" in session['row_headers'] %}
                <tr class="matrix">
                    <td class="matrix"><label class="modalbutton" for="modal-advancedebt">Advance Debt</label></td>
                    {% for x in range(1, session['matrix'].shape[1]) %}
                    <td class="matrix">{{'${:,.2f}'.format(session['matrix'].at[session['row_headers'].index("Advance Debt"), session['col_headers'][x]]).replace('$-','-$')}}</td>
                    {% endfor %}
                </tr>
                {% endif %}

                {% if "PCS Member" in session['row_headers'] %}
                <tr class="matrix">
                    <td class="matrix"><label class="modalbutton" for="modal-pcsmember">PCS Member</label></td>
                    {% for x in range(1, session['matrix'].shape[1]) %}
                    <td class="matrix">{{'${:,.2f}'.format(session['matrix'].at[session['row_headers'].index("PCS Member"), session['col_headers'][x]]).replace('$-','-$')}}</td>
                    {% endfor %}
                </tr>
                {% endif %}


                <tr class="matrix">
                    <td class="matrix"><label class="modalbutton" for="modal-federaltaxes">Federal Taxes</label></td>
                    {% for x in range(1, session['matrix'].shape[1]) %}
                    <td class="matrix">{{'${:,.2f}'.format(session['matrix'].at[session['row_headers'].index("Federal Taxes"), session['col_headers'][x]]).replace('$-','-$')}}</td>
                    {% endfor %}
                </tr>

                <tr class="matrix">
                    <td class="matrix"><label class="modalbutton" for="modal-ficasocsecurity">FICA - Social Security</label></td>
                    {% for x in range(1, session['matrix'].shape[1]) %}
                    <td class="matrix">{{'${:,.2f}'.format(session['matrix'].at[session['row_headers'].index("FICA - Social Security"), session['col_headers'][x]]).replace('$-','-$')}}</td>
                    {% endfor %}
                </tr>

                <tr class="matrix">
                    <td class="matrix"><label class="modalbutton" for="modal-ficamedicare">FICA - Medicare</label></td>
                    {% for x in range(1, session['matrix'].shape[1]) %}
                    <td class="matrix">{{'${:,.2f}'.format(session['matrix'].at[session['row_headers'].index("FICA - Medicare"), session['col_headers'][x]]).replace('$-','-$')}}</td>
                    {% endfor %}
                </tr>

                <tr class="matrix">
                    <td class="matrix"><label class="modalbutton" for="modal-sgli">SGLI</label></td>
                    {% for x in range(1, session['matrix'].shape[1]) %}
                    <td class="matrix">{{'${:,.2f}'.format(session['matrix'].at[session['row_headers'].index("SGLI"), session['col_headers'][x]]).replace('$-','-$')}}</td>
                    {% endfor %}
                </tr>

                <tr class="matrix">
                    <td class="matrix"><label class="modalbutton" for="modal-statetaxes">State Taxes</label></td>
                    {% for x in range(1, session['matrix'].shape[1]) %}
                    <td class="matrix">{{'${:,.2f}'.format(session['matrix'].at[session['row_headers'].index("State Taxes"), session['col_headers'][x]]).replace('$-','-$')}}</td>
                    {% endfor %}
                </tr>

                <tr class="matrix">
                    <td class="matrix"><label class="modalbutton" for="modal-rothtsp">Roth TSP</label></td>
                    {% for x in range(1, session['matrix'].shape[1]) %}
                    <td class="matrix">{{'${:,.2f}'.format(session['matrix'].at[session['row_headers'].index("Roth TSP"), session['col_headers'][x]]).replace('$-','-$')}}</td>
                    {% endfor %}
                </tr>


                {% if "Partial Pay" in session['row_headers'] %}
                <tr class="matrix">
                    <td class="matrix"><label class="modalbutton" for="modal-partialpay">Partial Pay</label></td>
                    {% for x in range(1, session['matrix'].shape[1]) %}
                    <td class="matrix">{{'${:,.2f}'.format(session['matrix'].at[session['row_headers'].index("Partial Pay"), session['col_headers'][x]]).replace('$-','-$')}}</td>
                    {% endfor %}
                </tr>
                {% endif %}

                {% if "PCS Members" in session['row_headers'] %}
                <tr class="matrix">
                    <td class="matrix"><label class="modalbutton" for="modal-pcsmembers">PCS Members</label></td>
                    {% for x in range(1, session['matrix'].shape[1]) %}
                    <td class="matrix">{{'${:,.2f}'.format(session['matrix'].at[session['row_headers'].index("PCS Members"), session['col_headers'][x]]).replace('$-','-$')}}</td>
                    {% endfor %}
                </tr>
                {% endif %}

                {% if "Debt" in session['row_headers'] %}
                <tr class="matrix">
                    <td class="matrix"><label class="modalbutton" for="modal-debt">Debt</label></td>
                    {% for x in range(1, session['matrix'].shape[1]) %}
                    <td class="matrix">{{'${:,.2f}'.format(session['matrix'].at[session['row_headers'].index("Debt"), session['col_headers'][x]]).replace('$-','-$')}}</td>
                    {% endfor %}
                </tr>
                {% endif %}


                <tr class="matrix">
                    <td class="matrix" colspan="100%" style="background-color: #CFD8DC; height: 8px; padding: 0px;"></td>
                </tr>


                <tr class="matrix">
                    <td class="matrix"><label class="modalbutton" for="modal-taxablepay">Taxable Pay</label></td>
                    {% for x in range(1, session['matrix'].shape[1]) %}
                    <td class="matrix">{{'${:,.2f}'.format(session['matrix'].at[session['row_headers'].index("Taxable Pay"), session['col_headers'][x]])}}</td>
                    {% endfor %}
                </tr>

                <tr class="matrix">
                    <td class="matrix"><label class="modalbutton" for="modal-nontaxablepay">Non-Taxable Pay</label></td>
                    {% for x in range(1, session['matrix'].shape[1]) %}
                    <td class="matrix">{{'${:,.2f}'.format(session['matrix'].at[session['row_headers'].index("Non-Taxable Pay"), session['col_headers'][x]])}}</td>
                    {% endfor %}
                </tr>

                <tr class="matrix">
                    <td class="matrix"><label class="modalbutton" for="modal-totaltaxes">Total Taxes</label></td>
                    {% for x in range(1, session['matrix'].shape[1]) %}
                    <td class="matrix">{{'${:,.2f}'.format(session['matrix'].at[session['row_headers'].index("Total Taxes"), session['col_headers'][x]])}}</td>
                    {% endfor %}
                </tr>

                <tr class="matrix">
                    <td class="matrix"><label class="modalbutton" for="modal-grosspay">Gross Pay</label></td>
                    {% for x in range(1, session['matrix'].shape[1]) %}
                    <td class="matrix">{{'${:,.2f}'.format(session['matrix'].at[session['row_headers'].index("Gross Pay"), session['col_headers'][x]])}}</td>
                    {% endfor %}
                </tr>

                <tr class="matrix">
                    <td class="matrix"><label class="modalbutton" for="modal-netpay">Net Pay</label></td>
                    {% for x in range(1, session['matrix'].shape[1]) %}
                    <td class="matrix">{{'${:,.2f}'.format(session['matrix'].at[session['row_headers'].index("Net Pay"), session['col_headers'][x]])}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>





    <form hx-post="/updatematrix" hx-target="#core-id" hx-swap="innerHTML">
        <div class="table-div" id="inputs-id">
            <table class="inputs-table">
                <tbody>
                    <tr class="inputs-header">
                        <td class="inputs-header"></td>
                        <td class="inputs-header">Current</td>
                        <td class="inputs-header">Future</td>
                        <td class="inputs-header">Month Changing</td>
                    </tr>
                    <tr class="inputs">
                        <td class="inputs">
                            <label class="modalbutton" for="modal-basepay">Rank</label>
                        </td>
                        <td class="inputs">{{session.rank_current}}</td>
                        <td class="inputs">
                            <select class="inputs" id="rank_future" name="rank_future">
                                {% for x in config['RANKS_SHORT'][0:] %}
                                <option value="{{x}}" {% if x==session.rank_future %} selected {% endif %}>{{x}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="inputs">
                            <select class="inputs" id="rank_future_month" name="rank_future_month">
                                {% for x in session.col_headers[2:] %}
                                <option value="{{x}}" {% if x==session.rank_future_month %} selected {% endif %}>{{x}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr class="inputs">
                        <td class="inputs">
                            <label class="modalbutton" for="modal-bah">Zipcode</label>
                        </td>
                        <td class="inputs">{{session.zipcode_current}}</td>
                        <td class="inputs">
                            <input class="inputs" type="text" onkeypress="return /[0-9]/i.test(event.key)" maxlength="5" id="zipcode_future" name="zipcode_future" value="{{session.zipcode_future}}" />
                        </td>
                        <td class="inputs">
                            <select class="inputs" id="zipcode_future_month" name="zipcode_future_month">
                                {% for x in session.col_headers[2:] %}
                                <option value="{{x}}" {% if x==zipcode_future_month %} selected {% endif %}>{{x}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr class="inputs">
                        <td class="inputs">
                            <label class="modalbutton" for="modal-bah">Dependents</label>
                        </td>
                        <td class="inputs">{{session.dependents_current}}</td>
                        <td class="inputs">
                            <input class="inputs" type="text" onkeypress="return /[0-9]/i.test(event.key)" maxlength="2" id="dependents_future" name="dependents_future" value="{{session.dependents_future}}" />
                        </td>
                        <td class="inputs">
                            <select class="inputs" id="dependents_future_month" name="dependents_future_month">
                                {% for x in session.col_headers[2:] %}
                                <option value="{{x}}" {% if x==session.dependents_future_month %} selected {% endif %}>{{x}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr class="inputs">
                        <td class="inputs">
                            <label class="modalbutton" for="modal-sgli">SGLI</label>
                        </td>
                        <td class="inputs">{{'${:,.2f}'.format(session['matrix'].at[session['row_headers'].index("SGLI"), session['col_headers'][1]]).replace('$-','$')}}</td>
                        <td class="inputs">
                            <select class="inputs" id="sgli_future" name="sgli_future">
                                {% for x in config['SGLI_PREMIUMS'][0:] %}
                                <option value="{{x}}" {% if x==session.sgli_future %} selected {% endif %}>{{"${:,.2f}".format(x)}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="inputs">
                            <select class="inputs" id="sgli_future_month" name="sgli_future_month">
                                {% for x in session.col_headers[2:] %}
                                <option value="{{x}}" {% if x==session.sgli_future_month %} selected {% endif %}>{{x}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr class="inputs">
                        <td class="inputs">
                            <label class="modalbutton" for="modal-statetaxes">Home of Record</label>
                        </td>
                        <td class="inputs">{{session.state_current}}</td>
                        <td class="inputs">
                            <select class="inputs" id="state_future" name="state_future">
                                {% for x in config['STATES_SHORT'][0:] %}
                                <option value="{{x}}" {% if x==session.state_future %} selected {% endif %}>{{x}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="inputs">
                            <select class="inputs" id="state_future_month" name="state_future_month">
                                {% for x in session.col_headers[2:] %}
                                <option value="{{x}}" {% if x==session.state_future_month %} selected {% endif %}>{{x}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr class="inputs">
                        <td class="inputs">
                            <label class="modalbutton" for="modal-rothtsp">Roth TSP</label>
                        </td>
                        <td class="inputs">{{'${:,.2f}'.format(session['matrix'].at[session['row_headers'].index("Roth TSP"), session['col_headers'][1]]).replace('$-','$')}}</td>
                        <td class="inputs">
                            <input class="inputs" type="text" onkeypress="return /[0-9]/i.test(event.key)" maxlength=2 id="rothtsp_future" name="rothtsp_future" placeholder="{{'${:,.2f}'.format(session['matrix'].at[session['row_headers'].index("Roth TSP"), session['col_headers'][1]]).replace('$-','$')}}" />
                        </td>
                        <td class="inputs">
                            <select class="inputs" id="rothtsp_future_month" name="rothtsp_future_month">
                                {% for x in session.col_headers[2:] %}
                                <option value="{{x}}" {% if x==session.rothtsp_future_month %} selected {% endif %}>{{x}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr class="inputs">
                        <td class="inputs">
                            <label class="modalbutton" for="modal-federaltaxes">Federal Filing Status</label>
                        </td>
                        <td class="inputs">{{session.federaltaxes_status_current}}</td>
                        <td class="inputs">
                            <select class="inputs" id="federaltaxes_status_future" name="federaltaxes_status_future">
                                {% for x in config['TAX_FILING_TYPES'][0:] %}
                                <option value="{{x}}" {% if x==session.federaltaxes_status_future %} selected {% endif %}>{{x}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="inputs">
                            <select class="inputs" id="federaltaxes_status_future_month" name="federaltaxes_status_future_month">
                                {% for x in session.col_headers[2:] %}
                                <option value="{{x}}" {% if x==session.federaltaxes_status_future_month %} selected {% endif %}>{{x}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr class="inputs">
                        <td class="inputs">
                            <label class="modalbutton" for="modal-statetaxes">State Filing Status</label>
                        </td>
                        <td class="inputs">{{session.statetaxes_status_current}}</td>
                        <td class="inputs">
                            <select class="inputs" id="statetaxes_status_future" name="statetaxes_status_future">
                                {% for x in config['TAX_FILING_TYPES'][0:2] %}
                                <option value="{{x}}" {% if x==session.statetaxes_status_future %} selected {% endif %}>{{x}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="inputs">
                            <select class="inputs" id="statetaxes_status_future_month" name="statetaxes_status_future_month">
                                {% for x in session.col_headers[2:] %}
                                <option value="{{x}}" {% if x==session.statetaxes_status_future_month %} selected {% endif %}>{{x}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr class="inputs">
                        <td class="inputs" colspan="4">
                            <div class="updatebuttondiv">
                                <button class="updatebutton" type="submit">Update LES</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>




    <div class="table-div" id="settings-id">
        <table class="inputs-table">
            <tbody>
                <tr class="inputs-header">
                    <td class="inputs-header" colspan=2 style="border-radius: 20px 20px 0 0;">Settings</td>
                </tr>

                <tr class="inputs">
                    <td class="inputs" style="width: 50%;">
                        <div class="settings-div">
                            <label>Months Displayed: &nbsp;</label>
                        </div>
                        <div class="settings-div">
                            <select class="settings" id="months_display" name="months_display" style="width: 40px;" hx-post="/updatematrixmonths" hx-target="#core-id" hx-swap="innerHTML" hx-trigger="change">
                                {% for x in range(2, 13) %}
                                <option value="{{x}}" {% if x==session.months_display %} selected {% endif %}>{{x}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td class="inputs" style="width: 50%;">
                        <div class="settings-div">
                            <label>Years Displayed:</label>
                        </div>
                        <div class="settings-div">
                            <input type="checkbox" class="settingcheckbox" id="displayyears" name="displayyears" value="False">
                        </div>
                    </td>
                </tr>

                <!--
                <tr class="inputs">
                    <td class="inputs" colspan=2>
                        <div class="settings-div">
                            <label>Color Table</label>
                        </div>
                        <div class="settings-div">
                            <input type="checkbox" class="settingcheckbox" id="colortable" name="colortable" value="False">
                        </div>
                    </td>
                </tr>
                    -->

                <!--
                <tr class="inputs">
                    <div class="settings-div">
                        <td class="inputs" colspan=2>
                            <label>Add row</label>
                        </td>
                    </div>
                </tr>
                    -->

                <tr class="inputs">
                    <form hx-post="/exportmatrix">
                        <td class="inputs" colspan=2>
                            <div class="settings-div">
                                <label>Export as: &nbsp;</label>
                            </div>
                            <div class="settings-div">
                                <select name="export_type" id="export_type" class="inputs">
                                    <option value="excel">Excel</option>
                                    <option value="csv">CSV</option>
                                </select>
                            </div>
                            <div class="settings-div">
                                <div class="updatebuttondiv">
                                    <button class="updatebutton" type="submit">Export to Excel</button>
                                </div>
                            </div>
                        </td>
                    </form>
                </tr>

                <tr class="inputs">
                    <td class="inputs" colspan=2>
                        <div class="settings-div">
                            <label>Upload New LES</label>
                        </div>
                        <div class="settings-div">
                            <form hx-post="/uploadfile" hx-target="#core-id" hx-swap="innerHTML" enctype="multipart/form-data">
                                <input type="file" name="file" />
                                <input type="submit" value="Upload" />
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>





    <div>
        <!--<iframe class="pdf" src="../static/LES_Template1.pdf" style="width: 100%;height: 100%;border: none;"></iframe>-->
    </div>



    <input class="modal-state" id="modal-basepay" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-basepay"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-basepay"></label>
            <h2>Base Pay</h2>
            <p>Base pay is calculated from a variety of factors.</p>
        </div>
    </div>

    <input class="modal-state" id="modal-bas" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-bas"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-bas"></label>
            <h2>Basic Allowance for Subsistence</h2>
            <p>BAS</p>
        </div>
    </div>

    <input class="modal-state" id="modal-bah" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-bah"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-bah"></label>
            <h2>Basic Allowance for Housing</h2>
            <p>Military Housing Area: MHA</p>
            <p>Current: {{session.mha_current}} - {{session.mha_current_name}}</p>
            <p>Future: {{session.mha_future}} - {{session.mha_future_name}}</p>
        </div>
    </div>

    <input class="modal-state" id="modal-ueainitial" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-ueainitial"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-ueainitial"></label>
            <h2>UEA Initial</h2>
            <p>UEA initial</p>
        </div>
    </div>

    <input class="modal-state" id="modal-advancedebt" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-advancedebt"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-advancedebt"></label>
            <h2>Advance Debt</h2>
            <p>Advance debt</p>
        </div>
    </div>

    <input class="modal-state" id="modal-pcsmember" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-pcsmember"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-pcsmember"></label>
            <h2>PCS Member</h2>
            <p>PCS member</p>
        </div>
    </div>

    <input class="modal-state" id="modal-federaltaxes" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-federaltaxes"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-federaltaxes"></label>
            <h2>Federal Taxes</h2>
            <p>Federal taxes</p>
        </div>
    </div>

    <input class="modal-state" id="modal-ficasocsecurity" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-ficasocsecurity"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-ficasocsecurity"></label>
            <h2>FICA - Social Security</h2>
            <p>FICA social security</p>
        </div>
    </div>

    <input class="modal-state" id="modal-ficamedicare" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-ficamedicare"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-ficamedicare"></label>
            <h2>FICA - Medicare</h2>
            <p>FICA medicare</p>
        </div>
    </div>

    <input class="modal-state" id="modal-sgli" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-sgli"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-sgli"></label>
            <h2>Service Members Group Life Insurance</h2>
            <p>SGLI</p>
        </div>
    </div>

    <input class="modal-state" id="modal-statetaxes" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-statetaxes"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-statetaxes"></label>
            <h2>State Taxes and Home of Record</h2>
            <p>State taxes</p>
        </div>
    </div>

    <input class="modal-state" id="modal-rothtsp" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-rothtsp"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-rothtsp"></label>
            <h2>Roth Thrift Savings Plan</h2>
            <p>Roth TSP</p>
        </div>
    </div>

    <input class="modal-state" id="modal-partialpay" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-partialpay"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-partialpay"></label>
            <h2>Partial Pay</h2>
            <p>partial pay</p>
        </div>
    </div>

    <input class="modal-state" id="modal-pcsmembers" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-pcsmembers"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-pcsmembers"></label>
            <h2>Permanent Change of Station - Members</h2>
            <p>PCS members</p>
        </div>
    </div>

    <input class="modal-state" id="modal-debt" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-debt"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-debt"></label>
            <h2>Debt</h2>
            <p>Debt</p>
        </div>
    </div>

    <input class="modal-state" id="modal-taxablepay" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-taxablepay"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-taxablepay"></label>
            <h2>Taxable Pay</h2>
            <p>Taxable pay</p>
        </div>
    </div>

    <input class="modal-state" id="modal-nontaxablepay" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-nontaxablepay"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-nontaxablepay"></label>
            <h2>Non-Taxable Pay</h2>
            <p>Non-taxable pay</p>
        </div>
    </div>

    <input class="modal-state" id="modal-totaltaxes" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-totaltaxes"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-totaltaxes"></label>
            <h2>Total Taxes</h2>
            <p>Total taxes</p>
        </div>
    </div>

    <input class="modal-state" id="modal-grosspay" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-grosspay"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-grosspay"></label>
            <h2>Gross Pay</h2>
            <p>Gross pay</p>
        </div>
    </div>

    <input class="modal-state" id="modal-netpay" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-netpay"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-netpay"></label>
            <h2>Net Pay</h2>
            <p>Net pay</p>
        </div>
    </div>

</body>
</html>