<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayLES</title>
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container" id="container-id">
        <div class="table-div" id="matrix-id">
            <table class="matrix-table">
                <tbody>
                    <tr class="matrix-header">
                        <td class="matrix-header"></td>
                        <td class="matrix-header">{{months[0]}}</td>
                        <td class="matrix-header">{{months[1]}}</td>
                        <td class="matrix-header">{{months[2]}}</td>
                        <td class="matrix-header">{{months[3]}}</td>
                        <td class="matrix-header">{{months[4]}}</td>
                        <td class="matrix-header">{{months[5]}}</td>
                        <td class="matrix-header">{{months[6]}}</td>
                    </tr>

                    <!-- Entitlements -->
                    <tr class="matrix">
                        <td class="matrix">
                            <label class="modalbutton" for="modal-basepay">Base Pay</label>
                        </td>
                        <td class="matrix">{{'${:,.2f}'.format(basepay[0])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(basepay[1])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(basepay[2])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(basepay[3])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(basepay[4])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(basepay[5])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(basepay[6])}}</td>
                    </tr>

                    <tr class="matrix">
                        <td class="matrix">
                            <label class="modalbutton" for="modal-bas">BAS</label>
                        </td>
                        <td class="matrix">{{'${:,.2f}'.format(bas[0])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(bas[1])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(bas[2])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(bas[3])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(bas[4])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(bas[5])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(bas[6])}}</td>
                    </tr>

                    <tr class="matrix">
                        <td class="matrix">
                            <label class="modalbutton" for="modal-bah">BAH</label>
                        </td>
                        <td class="matrix">{{'${:,.2f}'.format(bah[0])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(bah[1])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(bah[2])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(bah[3])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(bah[4])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(bah[5])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(bah[6])}}</td>
                    </tr>

                    {% if ueainitial[0] != 0 %}
                    <tr class="matrix">
                        <td class="matrix">
                            <label class="modalbutton" for="modal-ueainitial">UEA Initial</label>
                        </td>
                        <td class="matrix">{{'${:,.2f}'.format(ueainitial[0])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(ueainitial[1])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(ueainitial[2])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(ueainitial[3])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(ueainitial[4])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(ueainitial[5])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(ueainitial[6])}}</td>
                    </tr>
                    {% endif %}

                    {% if advancedebt[0] != 0 %}
                    <tr class="matrix">
                        <td class="matrix">
                            <label class="modalbutton" for="modal-advancedebt">Advance Debt</label>
                        </td>
                        <td class="matrix">{{'${:,.2f}'.format(advancedebt[0])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(advancedebt[1])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(advancedebt[2])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(advancedebt[3])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(advancedebt[4])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(advancedebt[5])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(advancedebt[6])}}</td>
                    </tr>
                    {% endif %}

                    {% if pcsmember[0] != 0 %}
                    <tr class="matrix">
                        <td class="matrix">
                            <label class="modalbutton" for="modal-pcsmember">PCS Member</label>
                        </td>
                        <td class="matrix">{{'${:,.2f}'.format(pcsmember[0])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(pcsmember[1])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(pcsmember[2])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(pcsmember[3])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(pcsmember[4])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(pcsmember[5])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(pcsmember[6])}}</td>
                    </tr>
                    {% endif %}


                    <!-- Deductions -->
                    <tr class="matrix">
                        <td class="matrix">
                            <label class="modalbutton" for="modal-federaltaxes">Federal Taxes</label>
                        </td>
                        <td class="matrix">{{'${:,.2f}'.format(federaltaxes[0])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(federaltaxes[1])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(federaltaxes[2])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(federaltaxes[3])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(federaltaxes[4])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(federaltaxes[5])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(federaltaxes[6])}}</td>
                    </tr>

                    <tr class="matrix">
                        <td class="matrix">
                            <label class="modalbutton" for="modal-ficasocsecurity">FICA - Social Security</label>
                        </td>
                        <td class="matrix">{{'${:,.2f}'.format(ficasocsecurity[0])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(ficasocsecurity[1])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(ficasocsecurity[2])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(ficasocsecurity[3])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(ficasocsecurity[4])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(ficasocsecurity[5])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(ficasocsecurity[6])}}</td>
                    </tr>

                    <tr class="matrix">
                        <td class="matrix">
                            <label class="modalbutton" for="modal-ficamedicare">FICA - Medicare</label>
                        </td>
                        <td class="matrix">{{'${:,.2f}'.format(ficamedicare[0])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(ficamedicare[1])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(ficamedicare[2])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(ficamedicare[3])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(ficamedicare[4])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(ficamedicare[5])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(ficamedicare[6])}}</td>
                    </tr>

                    <tr class="matrix">
                        <td class="matrix">
                            <label class="modalbutton" for="modal-sgli">SGLI</label>
                        </td>
                        <td class="matrix">{{'${:,.2f}'.format(sgli[0])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(sgli[1])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(sgli[2])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(sgli[3])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(sgli[4])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(sgli[5])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(sgli[6])}}</td>
                    </tr>

                    <tr class="matrix">
                        <td class="matrix">
                            <label class="modalbutton" for="modal-statetaxes">State Taxes</label>
                        </td>
                        <td class="matrix">{{'${:,.2f}'.format(statetaxes[0])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(statetaxes[1])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(statetaxes[2])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(statetaxes[3])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(statetaxes[4])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(statetaxes[5])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(statetaxes[6])}}</td>
                    </tr>

                    <tr class="matrix">
                        <td class="matrix">
                            <label class="modalbutton" for="modal-rothtsp">Roth TSP</label>
                        </td>
                        <td class="matrix">{{'${:,.2f}'.format(rothtsp[0])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(rothtsp[1])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(rothtsp[2])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(rothtsp[3])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(rothtsp[4])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(rothtsp[5])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(rothtsp[6])}}</td>
                    </tr>


                    {% if partialpay[0] != 0 %}
                    <tr class="matrix">
                        <td class="matrix">
                            <label class="modalbutton" for="modal-partialpay">Partial Pay</label>
                        </td>
                        <td class="matrix">{{'${:,.2f}'.format(partialpay[0])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(partialpay[1])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(partialpay[2])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(partialpay[3])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(partialpay[4])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(partialpay[5])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(partialpay[6])}}</td>
                    </tr>
                    {% endif %}

                    {% if pcsmembers[0] != 0 %}
                    <tr class="matrix">
                        <td class="matrix">
                            <label class="modalbutton" for="modal-pcsmembers">PCS Members</label>
                        </td>
                        <td class="matrix">{{'${:,.2f}'.format(pcsmembers[0])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(pcsmembers[1])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(pcsmembers[2])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(pcsmembers[3])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(pcsmembers[4])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(pcsmembers[5])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(pcsmembers[6])}}</td>
                    </tr>
                    {% endif %}

                    {% if debt[0] != 0 %}
                    <tr class="matrix">
                        <td class="matrix">
                            <label class="modalbutton" for="modal-debt">Debt</label>
                        </td>
                        <td class="matrix">{{'${:,.2f}'.format(debt[0])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(debt[1])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(debt[2])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(debt[3])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(debt[4])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(debt[5])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(debt[6])}}</td>
                    </tr>
                    {% endif %}


                    <!-- Spacer -->
                    <tr class="matrix">
                        <td class="matrix" colspan="8" style="background-color: #CFD8DC; height: 8px; padding: 0px;"></td>
                    </tr>

                    <tr class="matrix">
                        <td class="matrix">
                            <label class="modalbutton" for="modal-taxablepay">Taxable Pay</label>
                        </td>
                        <td class="matrix">{{'${:,.2f}'.format(taxablepay[0])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(taxablepay[1])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(taxablepay[2])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(taxablepay[3])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(taxablepay[4])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(taxablepay[5])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(taxablepay[6])}}</td>
                    </tr>

                    <tr class="matrix">
                        <td class="matrix">
                            <label class="modalbutton" for="modal-nontaxablepay">Non-Taxable Pay</label>
                        </td>
                        <td class="matrix">{{'${:,.2f}'.format(nontaxablepay[0])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(nontaxablepay[1])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(nontaxablepay[2])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(nontaxablepay[3])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(nontaxablepay[4])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(nontaxablepay[5])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(nontaxablepay[6])}}</td>
                    </tr>

                    <tr class="matrix">
                        <td class="matrix">
                            <label class="modalbutton" for="modal-totaltaxes">Total Taxes</label>
                        </td>
                        <td class="matrix">{{'${:,.2f}'.format(totaltaxes[0])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(totaltaxes[1])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(totaltaxes[2])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(totaltaxes[3])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(totaltaxes[4])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(totaltaxes[5])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(totaltaxes[6])}}</td>
                    </tr>

                    <tr class="matrix">
                        <td class="matrix">
                            <label class="modalbutton" for="modal-grosspay">Gross Pay</label>
                        </td>
                        <td class="matrix">{{'${:,.2f}'.format(grosspay[0])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(grosspay[1])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(grosspay[2])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(grosspay[3])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(grosspay[4])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(grosspay[5])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(grosspay[6])}}</td>
                    </tr>

                    <tr class="matrix">
                        <td class="matrix">
                            <label class="modalbutton" for="modal-netpay">Net Pay</label>
                        </td>
                        <td class="matrix">{{'${:,.2f}'.format(netpay[0])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(netpay[1])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(netpay[2])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(netpay[3])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(netpay[4])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(netpay[5])}}</td>
                        <td class="matrix">{{'${:,.2f}'.format(netpay[6])}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="table-div" id="inputs-id">
            <form hx-post="/updatematrix" hx-target="#matrix-id" hx-swap="innerHTML">
                <table class="inputs-table">
                    <tbody>
                        <tr class="inputs-header">
                            <td class="inputs-header"></td>
                            <td class="inputs-header">Current</td>
                            <td class="inputs-header">Future</td>
                            <td class="inputs-header">Changing Month</td>
                        </tr>
                        <tr class="inputs">
                            <td class="inputs">
                                <label class="modalbutton" for="modal-basepay">Rank</label>
                            </td>
                            <td class="inputs">{{rank}}</td>
                            <td class="inputs">
                                <select class="inputs" id="rank_selected" name="rank_selected">
                                    {% for x in RANKS_SHORT[0:] %}
                                    <option value="{{x}}" {% if x==rank_selected %} selected {% endif %}>{{x}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td class="inputs">
                                <select class="inputs" id="rank_month_selected" name="rank_month_selected">
                                    {% for x in months[1:] %}
                                    <option value="{{x}}" {% if x==rank_month_selected %} selected {% endif %}>{{x}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>

                        <tr class="inputs">
                            <td class="inputs">
                                <label class="modalbutton" for="modal-bah">Zipcode</label>
                            </td>
                            <td class="inputs">{{zipcode}}</td>
                            <td class="inputs">
                                <input class="inputs" type="text" onkeypress="return /[0-9]/i.test(event.key)" maxlength=5 id="zipcode_selected" name="zipcode_selected" />
                            </td>
                            <td class="inputs">
                                <select class="inputs" id="zipcode_month_selected" name="zipcode_month_selected">
                                    {% for x in months[1:] %}
                                    <option value="{{x}}" {% if x==zipcode_month_selected %} selected {% endif %}>{{x}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>

                        <tr class="inputs">
                            <td class="inputs">
                                <label class="modalbutton" for="modal-sgli">SGLI</label>
                            </td>
                            <td class="inputs">{{'${:,.2f}'.format(sgli[0])}}</td>
                            <td class="inputs">
                                <select class="inputs" id="sgli_selected" name="sgli_selected">
                                    {% for x in SGLI_PREMIUMS[0:] %}
                                    <option value="{{x}}" {% if x==sgli_selected %} selected {% endif %}>{{"${:,.2f}".format(x)}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td class="inputs">
                                <select class="inputs" id="sgli_month_selected" name="sgli_month_selected">
                                    {% for x in months[1:] %}
                                    <option value="{{x}}" {% if x==sgli_month_selected %} selected {% endif %}>{{x}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>

                        <tr class="inputs">
                            <td class="inputs">
                                <label class="modalbutton" for="modal-statetaxes">Home of Record</label>
                            </td>
                            <td class="inputs">{{state}}</td>
                            <td class="inputs">
                                <select class="inputs" id="state_selected" name="state_selected">
                                    {% for x in STATES_SHORT[0:] %}
                                    <option value="{{x}}" {% if x==state_selected %} selected {% endif %}>{{x}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td class="inputs">
                                <select class="inputs" id="state_month_selected" name="state_month_selected">
                                    {% for x in months[1:] %}
                                    <option value="{{x}}" {% if x==state_month_selected %} selected {% endif %}>{{x}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>

                        <tr class="inputs">
                            <td class="inputs">
                                <label class="modalbutton" for="modal-rothtsp">Roth TSP</label>
                            </td>
                            <td class="inputs">{{'${:,.2f}'.format(rothtsp[0])}}</td>
                            <td class="inputs">
                                <input class="inputs" type="text" onkeypress="return /[0-9]/i.test(event.key)" maxlength=2 id="rothtsp_selected" name="rothtsp_selected" />
                            </td>
                            <td class="inputs">
                                <select class="inputs" id="rothtsp_month_selected" name="rothtsp_month_selected">
                                    {% for x in months[1:] %}
                                    <option value="{{x}}" {% if x==rothtsp_month_selected %} selected {% endif %}>{{x}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>

                        <tr class="inputs">
                            <td class="inputs" colspan="4">
                                <div class="updatebuttondiv">
                                    <button class="updatebutton" type="submit">Update LES</button>
                                </div>
                            </td>
                        </tr>

                        <tr class="inputs">
                            <td class="inputs" colspan="4">
                                <div class="updatebuttondiv">
                                    <button class="updatebutton" type="submit">Export to Excel</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>



    <div>
        <iframe class="pdf" src="../static/LES_Template1.pdf" style="width: 100%;height: 100%;border: none;"></iframe>
    </div>



    <input class="modal-state" id="modal-basepay" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-basepay"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-basepay"></label>
            <h2>Base Pay</h2>
            <p>Base pay is calculated from a variety of factors.</p>
        </div>
    </div>

    <input class="modal-state" id="modal-bas" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-bas"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-bas"></label>
            <h2>Basic Allowance for Subsistence</h2>
            <p>BAS</p>
        </div>
    </div>

    <input class="modal-state" id="modal-bah" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-bah"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-bah"></label>
            <h2>Basic Allowance for Housing</h2>
            <p>BAH</p>
        </div>
    </div>

    <input class="modal-state" id="modal-ueainitial" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-ueainitial"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-ueainitial"></label>
            <h2>UEA Initial</h2>
            <p>UEA initial</p>
        </div>
    </div>

    <input class="modal-state" id="modal-advancedebt" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-advancedebt"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-advancedebt"></label>
            <h2>Advance Debt</h2>
            <p>Advance debt</p>
        </div>
    </div>

    <input class="modal-state" id="modal-pcsmember" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-pcsmember"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-pcsmember"></label>
            <h2>PCS Member</h2>
            <p>PCS member</p>
        </div>
    </div>

    <input class="modal-state" id="modal-federaltaxes" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-federaltaxes"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-federaltaxes"></label>
            <h2>Federal Taxes</h2>
            <p>Federal taxes</p>
        </div>
    </div>

    <input class="modal-state" id="modal-ficasocsecurity" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-ficasocsecurity"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-ficasocsecurity"></label>
            <h2>FICA - Social Security</h2>
            <p>FICA social security</p>
        </div>
    </div>

    <input class="modal-state" id="modal-ficamedicare" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-ficamedicare"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-ficamedicare"></label>
            <h2>FICA - Medicare</h2>
            <p>FICA medicare</p>
        </div>
    </div>

    <input class="modal-state" id="modal-sgli" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-sgli"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-sgli"></label>
            <h2>Service Members Group Life Insurance</h2>
            <p>SGLI</p>
        </div>
    </div>

    <input class="modal-state" id="modal-statetaxes" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-statetaxes"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-statetaxes"></label>
            <h2>State Taxes and Home of Record</h2>
            <p>State taxes</p>
        </div>
    </div>

    <input class="modal-state" id="modal-rothtsp" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-rothtsp"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-rothtsp"></label>
            <h2>Roth Thrift Savings Plan</h2>
            <p>Roth TSP</p>
        </div>
    </div>

    <input class="modal-state" id="modal-partialpay" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-partialpay"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-partialpay"></label>
            <h2>Partial Pay</h2>
            <p>partial pay</p>
        </div>
    </div>

    <input class="modal-state" id="modal-pcsmembers" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-pcsmembers"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-pcsmembers"></label>
            <h2>Permanent Change of Station - Members</h2>
            <p>PCS members</p>
        </div>
    </div>

    <input class="modal-state" id="modal-debt" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-debt"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-debt"></label>
            <h2>Debt</h2>
            <p>Debt</p>
        </div>
    </div>

    <input class="modal-state" id="modal-taxablepay" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-taxablepay"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-taxablepay"></label>
            <h2>Taxable Pay</h2>
            <p>Taxable pay</p>
        </div>
    </div>

    <input class="modal-state" id="modal-nontaxablepay" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-nontaxablepay"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-nontaxablepay"></label>
            <h2>Non-Taxable Pay</h2>
            <p>Non-taxable pay</p>
        </div>
    </div>

    <input class="modal-state" id="modal-totaltaxes" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-totaltaxes"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-totaltaxes"></label>
            <h2>Total Taxes</h2>
            <p>Total taxes</p>
        </div>
    </div>

    <input class="modal-state" id="modal-grosspay" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-grosspay"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-grosspay"></label>
            <h2>Gross Pay</h2>
            <p>Gross pay</p>
        </div>
    </div>

    <input class="modal-state" id="modal-netpay" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="modal-netpay"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-netpay"></label>
            <h2>Net Pay</h2>
            <p>Net pay</p>
        </div>
    </div>

</body>
</html>