<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayLES</title>
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="table-div" id="matrix-id">
        {% block content %}
        {{session['matrix_html'] | safe}}
        {% endblock %}
    </div>


    <div>
        <!--<iframe class="pdf" src="../static/LES_Template1.pdf" style="width: 100%;height: 100%;border: none;"></iframe>-->
    </div>


</body>
</html>