<div id="les-image">
    <img src="data:image/png;base64,{{ les_image }}" alt="LES image unable to be generated" />

    {% for rect in rect_overlay %}
    <button
        type="button"
        {% if rect.modal != "none" %}
            class="rect-highlight modal-button{% if rect.modal != 'none' %} clickable{% endif %}"
            data-modal="{{rect.modal}}"
        {% else %}
            class="rect-highlight"
        {% endif %}
        style="
            left: {{rect.x1}}px;
            top: {{rect.y1}}px;
            width: {{rect.x2 - rect.x1}}px;
            height: {{rect.y2 - rect.y1}}px;"
        data-tooltip="{{rect.tooltip}}">
    </button>
    {% endfor %}
</div>

<div class="tooltip" id="tooltip"></div>

<h2>Common LES Remarks</h2>
<div class="remarks shadow">
    {% for remark in remarks %}
        <div class="remark">
            {{ remark.text|safe }}
        </div>
    {% endfor %}
</div>
