{% for modal in MODALS %}
    <input id="{{ modal.id }}" class="modal-state" type="checkbox" />
    <div class="modal">
        <label class="modal-background" for="{{ modal.id }}"></label>
        <div class="modal-inner modal-size-mid">
            <button class="button-modal-close" type="button">✖</button>
            <h2>{{ modal.title }}</h2>
            <p>{{ modal.content|safe }}</p>

            {% if modal.id == "sgli" %}
                <table class="modal-table">
                    <tr>
                        <td>Coverage Amount</td>
                        <td>Monthly Premium Rate</td>
                        <td>TSGLI Premium Rate</td>
                        <td>Total Monthly Deduction</td>
                    </tr>
                    {% for row in config['SGLI_RATES'].itertuples() %}
                    <tr>
                        <td>{{ row.coverage }}</td>
                        <td>{{ '${:,.2f}'.format(row.premium) }}</td>
                        <td>{{ '${:,.2f}'.format(row.tsglipremium) }}</td>
                        <td>{{ '${:,.2f}'.format(row.total) }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}

            <p>More Resources:</p>
            <ul>
                {% for resource in modal.resources %}
                    <li><a href="{{ resource.link }}" target="_blank">{{ resource.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}


<!-- pay guide modal -->
<input id="modal-guide-pay" class="modal-state" type="checkbox" />
<div class="modal">
    <label class="modal-background" for="modal-guide-pay"></label>
    <div class="modal-inner modal-size-mid">
        <button class="button-modal-close" type="button">✖</button>
        <h2>PayLES Budget Guide</h2>
        <p>This guide provides an overview of the PayLES budget process, including key terms and concepts.</p>
    </div>
</div>


<!-- inject modal-->
<input id="modal-inject" class="modal-state" type="checkbox" />
<div class="modal">
    <label class="modal-background" for="modal-inject"></label>
    <div class="modal-inner modal-size-mid">
        <button class="button-modal-close" type="button">✖</button>
        <h2>Add Custom Row</h2>

        <div class="modal-grid">
            <div class="modal-grid-column">
                <div class="modal-grid-column-section">
                    <span class="modal-grid-span">Method:</span>
                    <div class="modal-radio-group">
                        <label>
                            <input id="inject-method-template" type="radio" name="row-method" value="template">
                            Choose From Template
                        </label>
                        <label>
                            <input id="inject-method-custom" type="radio" name="row-method" value="custom">
                            Create Custom Row
                        </label>
                    </div>
                </div>

                <div id="inject-template-types" class="modal-grid-column-section">
                    <span class="modal-grid-span">Row Type:</span>
                    <div class="modal-radio-group">
                        <label>
                            <input id="inject-type-entitlement" type="radio" name="row-type" value="ent" >
                            Entitlement (+$)
                        </label>
                        <label>
                            <input id="inject-type-deduction" type="radio" name="row-type" value="ded">
                            Deduction (-$)
                        </label>
                        <label>
                            <input id="inject-type-allotment" type="radio" name="row-type" value="alt">
                            Allotment (-$)
                        </label>
                    </div>
                </div>

                <div id="inject-custom-types" class="modal-grid-column-section">
                    <span class="modal-grid-span">Row Type:</span>
                    <div class="modal-radio-group">
                        <label>
                            <input id="inject-type-income" type="radio" name="row-type" value="inc" >
                            Income (+$)
                        </label>
                        <label>
                            <input id="inject-type-expense" type="radio" name="row-type" value="exp">
                            Expense (-$)
                        </label>
                    </div>
                </div>
            </div>

            <div id="inject-template-custom" class="modal-grid-column">
                <div id="inject-template" class="modal-grid-column-stack">
                    <div class="modal-grid-column-row">
                        <label class="styled-label" for="inject-template-dropdown">Row Header:</label>
                        <select id="inject-template-dropdown" class="input-long"></select>
                    </div>
                    <div class="modal-grid-column-row">
                        <label class="styled-label" for="inject-template-value">Initial Value:</label>
                        <div id="inject-template-value-location"></div>
                    </div>
                    <div class="modal-grid-column-row">
                        <button id="inject-template-button" class="button-generic button-positive">Add Row</button>
                    </div>
                </div>

                <div id="inject-custom" class="modal-grid-column-stack">
                    <div class="modal-grid-column-row">
                        <label class="styled-label" for="inject-custom-header">Row Header:</label>
                        <div id="inject-custom-header-location"></div>
                    </div>
                    <div class="modal-grid-column-row">
                        <label class="styled-label" for="inject-custom-value">Initial Value:</label>
                        <div id="inject-custom-value-location"></div>
                    </div>
                    <div class="modal-grid-column-row">
                        <label class="styled-label" for="inject-custom-tax">Tax:</label>
                        <input id="inject-custom-tax" class="styled" type="checkbox">
                        <span class="tooltip-question tooltip" data-tooltip=
                        "Indicates if the row is used for tax purposes. 
                        If income, sets whether taxable or non-taxable. 
                        If an expense, sets as a tax added to total taxes.">
                        ?</span>
                    </div>
                    <div class="modal-grid-column-row">
                        <button id="inject-custom-button" class="button-generic button-positive">Add Row</button>
                    </div>
                </div>
            </div>

            <div id="inject-info" class="modal-grid-column"></div>
        </div>
    </div>
</div>


<!-- tsp guide modal -->
<input id="modal-guide-tsp" class="modal-state" type="checkbox" />
<div class="modal">
    <label class="modal-background" for="modal-guide-tsp"></label>
    <div class="modal-inner modal-size-mid">
        <button class="button-modal-close" type="button">✖</button>
        <h2>Thrift Savings Plan (TSP) Calculator Guide</h2>
        <p>This guide provides an overview of the Thrift Savings Plan (TSP) calculator, including key features and usage instructions.</p>
    </div>
</div>


<!-- dynamic modal -->
<input id="modal-dynamic" class="modal-state" type="checkbox" />
<div class="modal">
    <label class="modal-background" for="modal-dynamic"></label>
    <div id="modal-inner-dynamic" class="modal-inner modal-short">
        <button class="button-modal-close" type="button">✖</button>
        <div id="modal-content-dynamic"></div>
    </div>
</div>