{% set DEFAULT_MONTHS_DISPLAY = config.DEFAULT_MONTHS_DISPLAY %}
{% set show_all_variables = session.get('show_all_variables', False) %}
{% set highlight_changes = session.get('highlight_changes', False) %}
{% set show_all_options = session.get('show_all_options', False) %}

<table class="pos-table" id="settings-table">
    <tbody class="pos-table-section">
        <tr class="pos-table-header-row">
            <td class="pos-table-header-cell" colspan=2>Settings</td>
        </tr>

        <tr>
            <!-- months display-->
            <td>
                <div class="settings-row">
                    <label>Months Displayed: &nbsp;</label>
                </div>
                <div class="settings-row">
                    <form id="settings-form">
                        <select id="months-display-dropdown" class="dropdown" name="months_display">
                            {% for x in range(2, 13) %}
                                <option value="{{x}}" {% if x==DEFAULT_MONTHS_DISPLAY %} selected {% endif %}>{{x}}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </td>
            
            <!-- highlight changes -->
            <td>
                <div class="settings-row">
                    <label for="highlight-changes-checkbox">Highlight Changes:</label>
                    <input class="input-checkbox" type="checkbox" id="highlight-changes-checkbox">
                </div>
            </td>
        </tr>


        <tr>
            <!-- show all variables -->
            <td>
                <div class="settings-row">
                    <label for="show-all-variables-checkbox">Show All Variables:</label>
                    <input class="input-checkbox" type="checkbox" id="show-all-variables-checkbox">
                </div>
            </td>

            
            <!-- show TSP options -->
            <td>
                <div class="settings-row">
                    <label for="show-tsp-options-checkbox">Show TSP Options:</label>
                    <input class="input-checkbox" type="checkbox" id="show-tsp-options-checkbox">
                </div>
            </td>
        </tr>


        <!-- add custom row-->
        <tr>
            <td colspan=2>
                <div class="settings-row">
                    <label>Add Custom Row:</label>
                </div>
                <div class="settings-row">
                    <button id="add-entitlement-button" class="button button-standard">Entitlement&nbsp;&nbsp;+$</button>
                </div>
                <div class="settings-row">
                    <button id="add-deduction-button" class="button button-standard">Deduction&nbsp;&nbsp;-$</button>
                </div>
            </td>
        </tr>


        <!-- export-->
        <tr>
            <td colspan=2>
                <div class="settings-row">
                    <label>Export as:</label>
                </div>
                <div class="settings-row">
                    <select id="export-dropdown" class="dropdown">
                        <option value="xlsx" selected>Excel</option>
                        <option value="csv">CSV</option>
                    </select>
                </div>
                <div class="settings-row">
                    <button id="export-button" class="button button-standard">Export</button>
                </div>
            </td>
        </tr>
    </tbody>
    
    <tbody>
        <!-- submit new les-->
        <tr>
            <td colspan=2>
                <div class="settings-row">
                    <button id="return-home-button" class="button button-standard" onclick="window.location.href='/'">Upload New LES</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
