{% set PAYDF_TEMPLATE = config.PAYDF_TEMPLATE %}
{% set GRADES = config.GRADES %}
{% set HOME_OF_RECORDS = config.HOME_OF_RECORDS %}
{% set TAX_FILING_TYPES_DEDUCTIONS = config.TAX_FILING_TYPES_DEDUCTIONS %}
{% set SGLI_RATES = config.SGLI_RATES %}
{% set TRADITIONAL_TSP_RATE_MAX = config.TRADITIONAL_TSP_RATE_MAX %}
{% set ROTH_TSP_RATE_MAX = config.ROTH_TSP_RATE_MAX %}
{% set month_options = col_headers[2:] %}

{% set VARIABLES_MODALS = config.VARIABLES_MODALS %}
{% set TSP_MODALS = config.TSP_MODALS %}


<form id="options-form">
    <table id="options-table" class="pos-table">
        <tbody class="pos-table-section">
            <tr class="pos-table-header-row">
                <td class="pos-table-header-cell"></td>
                <td class="pos-table-header-cell">Current</td>
                <td class="pos-table-header-cell">Future</td>
                <td class="pos-table-header-cell">Month</td>
            </tr>

            <!-- variable option rows -->
            {% for header, modal in VARIABLES_MODALS.items() %}
                {% set varname = header.lower().replace(' ', '_') %}
                {% if varname ~ '_f' in options_form._fields and varname ~ '_m' in options_form._fields %}
                    {% set current_value = paydf.at[row_headers.index(header), col_headers[2]] if header in row_headers else '' %}
                    {% set field_f = options_form[varname ~ '_f'] %}
                    {% set field_m = options_form[varname ~ '_m'] %}
                    <tr>
                        <td class="row-header-cell">
                            <button class="modal-button" type="button" data-modal="{{ modal }}">{{ header }}</button>
                        </td>
                        <td>{{ current_value }}</td>
                        <td>
                            {{ field_f(class="dropdown" if field_f.type == 'SelectField' else "input-num") }}
                        </td>
                        <td>
                            {{ field_m(class="dropdown month-dropdown") }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>


        <!-- ent/ded/alt option rows -->
        <tbody class="pos-table-section">
            {% for row in PAYDF_TEMPLATE.itertuples() %}
                {% if row.option %}
                    {% set header = row.header %}
                    {% set varname = row.varname %}
                    {% set modal = row.modal %}
                    {% if header in row_headers %}
                        <tr>
                            {% set value = paydf.at[row_headers.index(header), col_headers[2]] %}
                            <td class="row-header-cell">
                                <button class="modal-button" type="button" data-modal="{{ modal }}">{{ header }}</button> 
                            </td>
                            <td>{{ '${:,.2f}'.format(value).replace('$-','-$') }}</td>
                            <td>
                                {% if value < 0 %}
                                    <span>-$&nbsp;&nbsp;</span>
                                {% else %}
                                    <span>$&nbsp;&nbsp;</span>
                                {% endif %}
                                <input class="input-num input-num-mid" type="text" onkeypress="return /[0-9]/i.test(event.key)" maxlength="5" name="{{ varname }}_f" value="" placeholder="{{ value if value >= 0 else -value }}" />
                            </td>
                            <td>
                                <select class="dropdown month-dropdown" name="{{ varname }}_m">
                                    {% for x in month_options %}
                                    <option value="{{ x }}">{{ x }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tbody>


        <!-- TSP rate option rows -->
        <tbody class="pos-table-section">
            <tr class="tsp-row">
                <td class="row-header-cell"><button class="modal-button" type="button" data-modal="tsp">Trad TSP Base Rate</button></td>
                <td>{{ trad_tsp_base_rate }}</td>
                <td>{{ options_form.trad_tsp_base_rate_f(class="input-num input-num-mid tsp-rate-input") }}<span>&nbsp;&nbsp;%</span></td>
                <td>{{ options_form.trad_tsp_base_rate_m(class="dropdown month-dropdown") }}</td>
            </tr>
            <tr class="tsp-row">
                <td class="row-header-cell"><button class="modal-button" type="button" data-modal="tsp">Roth TSP Base Rate</button></td>
                <td>{{ roth_tsp_base_rate }}</td>
                <td>{{ options_form.roth_tsp_base_rate_f(class="input-num input-num-mid tsp-rate-input") }}<span>&nbsp;&nbsp;%</span></td>
                <td>{{ options_form.roth_tsp_base_rate_m(class="dropdown month-dropdown") }}</td>
            </tr>
            <tr class="tsp-row">
                <td class="row-header-cell"><button class="modal-button" type="button" data-modal="tsp">Trad TSP Specialty Rate</button></td>
                <td>{{ trad_tsp_specialty_rate }}</td>
                <td>{{ options_form.trad_tsp_specialty_rate_f(class="input-num input-num-mid tsp-rate-input") }}<span>&nbsp;&nbsp;%</span></td>
                <td>{{ options_form.trad_tsp_specialty_rate_m(class="dropdown month-dropdown") }}</td>
            </tr>
            <tr class="tsp-row">
                <td class="row-header-cell"><button class="modal-button" type="button" data-modal="tsp">Roth TSP Specialty Rate</button></td>
                <td>{{ roth_tsp_specialty_rate }}</td>
                <td>{{ options_form.roth_tsp_specialty_rate_f(class="input-num input-num-mid tsp-rate-input") }}<span>&nbsp;&nbsp;%</span></td>
                <td>{{ options_form.roth_tsp_specialty_rate_m(class="dropdown month-dropdown") }}</td>
            </tr>
            <tr class="tsp-row">
                <td class="row-header-cell"><button class="modal-button" type="button" data-modal="tsp">Trad TSP Incentive Rate</button></td>
                <td>{{ trad_tsp_incentive_rate }}</td>
                <td>{{ options_form.trad_tsp_incentive_rate_f(class="input-num input-num-mid tsp-rate-input") }}<span>&nbsp;&nbsp;%</span></td>
                <td>{{ options_form.trad_tsp_incentive_rate_m(class="dropdown month-dropdown") }}</td>
            </tr>
            <tr class="tsp-row">
                <td class="row-header-cell"><button class="modal-button" type="button" data-modal="tsp">Roth TSP Incentive Rate</button></td>
                <td>{{ roth_tsp_incentive_rate }}</td>
                <td>{{ options_form.roth_tsp_incentive_rate_f(class="input-num input-num-mid tsp-rate-input") }}<span>&nbsp;&nbsp;%</span></td>
                <td>{{ options_form.roth_tsp_incentive_rate_m(class="dropdown month-dropdown") }}</td>
            </tr>
            <tr class="tsp-row">
                <td class="row-header-cell"><button class="modal-button" type="button" data-modal="tsp">Trad TSP Bonus Rate</button></td>
                <td>{{ trad_tsp_bonus_rate }}</td>
                <td>{{ options_form.trad_tsp_bonus_rate_f(class="input-num input-num-mid tsp-rate-input") }}<span>&nbsp;&nbsp;%</span></td>
                <td>{{ options_form.trad_tsp_bonus_rate_m(class="dropdown month-dropdown") }}</td>
            </tr>
            <tr class="tsp-row">
                <td class="row-header-cell"><button class="modal-button" type="button" data-modal="tsp">Roth TSP Bonus Rate</button></td>
                <td>{{ roth_tsp_bonus_rate }}</td>
                <td>{{ options_form.roth_tsp_bonus_rate_f(class="input-num input-num-mid tsp-rate-input") }}<span>&nbsp;&nbsp;%</span></td>
                <td>{{ options_form.roth_tsp_bonus_rate_m(class="dropdown month-dropdown") }}</td>
            </tr>
        </tbody>


        <!-- update LES button -->
        <tbody>
            <tr>
                <td colspan="4">
                    {{ options_form.update_les(id="update-les-button",class="button button-standard") }}
                </td>
            </tr>
        </tbody>
    </table>
</form>