{% set PAYDF_TEMPLATE = config.PAYDF_TEMPLATE %}
{% set VARIABLE_TEMPLATE = config.VARIABLE_TEMPLATE %}

<!-- paydf table -->
<table id="paydf-table" class="pos-table">
    <tbody>
        <tr class="pos-table-header-row">
            <td class="pos-table-header-cell"></td>
            {% for col in col_headers[1:] %}
                <td class="pos-table-header-cell">{{ col }}</td>
            {% endfor %}
        </tr>

        {% for row in paydf %}
            {% set row_class = "" %}

            {% if row.header in VARIABLE_TEMPLATE %}
                {% if VARIABLE_TEMPLATE[row.header]['type'] == 'v' %}
                    {% set row_class = "var-row" %}
                {% elif VARIABLE_TEMPLATE[row.header]['type'] == 't' %}
                    {% set row_class = "tsp-row" %}
                {% endif %}
            {% endif %}

            <tr class="{{ row_class }}">
                <td class="row-header-cell">
                    <button class="modal-button" data-modal="{{ row.modal }}">
                        {{ row.header }}
                    </button>
                </td>
                {% for col in row.columns %}
                    <td>
                        {% if row.header in PAYDF_TEMPLATE or (row.header in VARIABLE_TEMPLATE and VARIABLE_TEMPLATE[row.header]['editable']) %}
                            <button class="edit-cell-btn" data-row="{{ row.header }}" data-col="{{ col.name }}">
                                {{ col.value }}
                            </button>
                        {% else %}
                            {{ col.value }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}

    </tbody>
</table>


{% for modal in PAYDF_MODALS %}
    <input id="{{ modal.id }}" class="modal-state" type="checkbox" />
    <div class="modal">
        <label class="modal-background" for="{{ modal.id }}"></label>
        <div class="modal-inner">
            <label class="modal-close" for="{{ modal.id }}"></label>
            <h2>{{ modal.title }}</h2>
            <p>{{ modal.content|safe }}</p>

            {% if modal.id == "sgli" %}
                <table class="modal-table">
                    <tr>
                        <td>Coverage Amount</td>
                        <td>Monthly Premium Rate</td>
                        <td>TSGLI Premium Rate</td>
                        <td>Total Monthly Premium Deduction</td>
                    </tr>
                    {% for row in config['SGLI_RATES'].itertuples() %}
                    <tr>
                        <td>{{ row.coverage }}</td>
                        <td>{{ '${:,.2f}'.format(row.premium) }}</td>
                        <td>{{ '${:,.2f}'.format(row.tsglipremium) }}</td>
                        <td>{{ '${:,.2f}'.format(row.total) }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}

            <p>More Resources:</p>
            <ul>
                {% for resource in modal.resources %}
                    <li><a href="{{ resource.link }}" target="_blank">{{ resource.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}