{% set PAYDF_TEMPLATE = config.PAYDF_TEMPLATE %}

<div id="button-paydf-tables" data-col-headers='{{ col_headers|tojson | safe }}'>
    <table id="button-table">

        <tbody>
            {% for header in row_headers[0:13] %}
                {% set i = loop.index0 %}
                <tr class="variable-row">
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>

        <tbody>
            {% for i in range(13, row_headers|length - 6) %}
                {% set header = row_headers[i] %}
                {% set row_info = PAYDF_TEMPLATE[PAYDF_TEMPLATE['header'] == header] %}
                {% if row_info.shape[0] > 0 and not row_info.iloc[0]['custom'] %}
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>

        <tbody id="custom-button-section">
            {% set custom_idx = 0 %}
            {% for header in row_headers %}
                {% set row_info = PAYDF_TEMPLATE[PAYDF_TEMPLATE['header'] == header] %}
                {% if row_info.shape[0] > 0 and row_info.iloc[0]['custom'] %}
                    <tr data-header="{{ header }}">
                        <td>
                            <button class="button button-custom-row button-edit">&#9998;</button>
                        </td>
                        <td>
                            <button class="button button-custom-row button-remove">&#10005;</button>
                        </td>
                    </tr>
                    {% set custom_idx = custom_idx + 1 %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>



    <table id="paydf-table" class="pos-table">

        <tbody class="pos-table-section">
            <tr class="pos-table-header-row">
                <td class="pos-table-header-cell"></td>
                {% for col in col_headers[1:] %}
                    <td class="pos-table-header-cell">{{ col }}</td>
                {% endfor %}
            </tr>

            {% for i in range(0, 13) %}
                {% set header = row_headers[i] %}
                <tr class="variable-row">
                    <td class="row-header-cell">
                        <button class="modal-button">
                            {{ header }}
                        </button>
                    </td>
                    {% for x in range(1, paydf.shape[1]) %}
                        {% set value = paydf.at[i, col_headers[x]] %}
                        <td>
                            {% if header in ['Traditional TSP Rate', 'Roth TSP Rate'] %}
                                {{ '{}%'.format(value) }}
                            {% elif header == 'SGLI Coverage' %}
                                {{ '{:,.2f}'.format(value) }}
                            {% else %}
                                {{ value }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>

        <tbody class="pos-table-section">
            {% for i in range(13, row_headers|length - 6) %}
                {% set header = row_headers[i] %}
                {% set row_info = PAYDF_TEMPLATE[PAYDF_TEMPLATE['header'] == header] %}
                {% if row_info.shape[0] > 0 and not row_info.iloc[0]['custom'] %}
                    <tr>
                        <td class="row-header-cell">
                            <button class="modal-button" data-modal="{{ row_info.iloc[0]['modal'] }}">
                                {{ header }}
                            </button>
                        </td>
                        {% for x in range(1, paydf.shape[1]) %}
                            {% set value = paydf.at[i, col_headers[x]] %}
                            <td>
                                {% if value is not none and value != '' %}
                                    {{ '${:,.2f}'.format(value).replace('$-','-$') }}
                                {% else %}
                                    $0.00
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>

        <tbody id="custom-row-section" class="pos-table-section">
            {% for i in range(0, row_headers|length) %}
                {% set header = row_headers[i] %}
                {% set row_info = PAYDF_TEMPLATE[PAYDF_TEMPLATE['header'] == header] %}
                {% if row_info.shape[0] > 0 and row_info.iloc[0]['custom'] %}
                    <tr class="custom-row" data-header="{{ header }}">
                        <td>
                            {{ header }}
                        </td>
                        {% for x in range(1, paydf.shape[1]) %}
                            {% set value = paydf.at[i, col_headers[x]] %}
                            <td>
                                {% if value is not none and value != '' %}
                                    {{ '${:,.2f}'.format(value).replace('$-','-$') }}
                                {% else %}
                                    $0.00
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>

        <tbody>
            {% for i in range(row_headers|length - 6, row_headers|length) %}
                <tr>
                    <td class="row-header-cell">
                        <button class="modal-button">
                            {{ row_headers[i] }}
                        </button>
                    </td>
                    {% for x in range(1, paydf.shape[1]) %}
                        {% set value = paydf.at[i, col_headers[x]] %}
                        <td>
                            {% if value is not none and value != '' %}
                                {{ '${:,.2f}'.format(value).replace('$-','-$') }}
                            {% else %}
                                $0.00
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
