{% set PAYDF_TEMPLATE = config.PAYDF_TEMPLATE %}
{% set GRADES = config.GRADES %}
{% set STATES_SHORT = config.STATES_SHORT %}
{% set TAX_FILING_TYPES = config.TAX_FILING_TYPES %}
{% set SGLI_RATES = config.SGLI_RATES %}
{% set TRADITIONAL_TSP_RATE_MAX = config.TRADITIONAL_TSP_RATE_MAX %}
{% set ROTH_TSP_RATE_MAX = config.ROTH_TSP_RATE_MAX %}
{% set month_options = col_headers[2:] %}


<form id="options-form">
    <table id="options-table" class="pos-table">
        <tbody class="pos-table-section">
            <tr class="pos-table-header-row">
                <td class="pos-table-header-cell"></td>
                <td class="pos-table-header-cell">Current</td>
                <td class="pos-table-header-cell">Future</td>
                <td class="pos-table-header-cell">Month</td>
            </tr>

            <tr>
                <td class="row-header-cell">
                    <button class="modal-button" type="button" data-modal="grade-modal">Grade</button>
                </td>
                <td>
                    {{ paydf.at[row_headers.index('Grade'), col_headers[2]] }}
                </td>
                <td>
                    <select class="dropdown" name="grade_f">
                        {% for x in GRADES %}
                            <option value="{{x}}" {% if options|length > 1 and options[1]|length > 1 and x == options[1][1] %} selected {% endif %}>{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="dropdown month-dropdown" name="grade_m">
                        {% for x in month_options %}
                            <option value="{{x}}" {% if options|length > 1 and options[1]|length > 2 and x == options[1][2] %} selected {% endif %}>{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td class="row-header-cell">
                    <button class="modal-button" type="button" data-modal="zip-code-modal">Zip Code</button>
                </td>
                <td>
                    {{ paydf.at[row_headers.index('Zip Code'), col_headers[2]] }}
                </td>
                <td>
                    <input class="input-num input-num-long" type="text" onkeypress="return /[0-9]/i.test(event.key)" maxlength="5" name="zip_code_f" value="{% if options|length > 3 and options[3]|length > 1 %}{{ options[3][1] }}{% endif %}" />
                </td>
                <td>
                    <select class="dropdown month-dropdown" name="zip_code_m">
                        {% for x in month_options %}
                            <option value="{{x}}" {% if options|length > 3 and options[3]|length > 2 and x == options[3][2] %} selected {% endif %}>{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td class="row-header-cell">
                    <button class="modal-button" type="button" data-modal="home-of-record-modal">Home of Record</button>
                </td>
                <td>
                    {{ paydf.at[row_headers.index('Home of Record'), col_headers[2]] }}
                </td>
                <td>
                    <select class="dropdown" name="home_of_record_f">
                        {% for x in STATES_SHORT %}
                            <option value="{{x}}" {% if options|length > 5 and options[5]|length > 1 and x == options[5][1] %} selected {% endif %}>{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="dropdown month-dropdown" name="home_of_record_m">
                        {% for x in month_options %}
                            <option value="{{x}}" {% if options|length > 5 and options[5]|length > 2 and x == options[5][2] %} selected {% endif %}>{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>

                <td class="row-header-cell">
                    <button class="modal-button" type="button" data-modal="federal-filing-status-modal">Federal Filing Status</button>
                </td>
                <td>
                    {{ paydf.at[row_headers.index('Federal Filing Status'), col_headers[2]] }}
                </td>
                <td>
                    <select class="dropdown" name="federal_filing_status_f">
                        {% for x in TAX_FILING_TYPES %}
                            <option value="{{x}}" {% if options|length > 6 and options[6]|length > 1 and x == options[6][1] %} selected {% endif %}>{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="dropdown month-dropdown" name="federal_filing_status_m">
                        {% for x in month_options %}
                            <option value="{{x}}" {% if options|length > 6 and options[6]|length > 2 and x == options[6][2] %} selected {% endif %}>{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td class="row-header-cell">
                    <button class="modal-button" type="button" data-modal="state-filing-status-modal">State Filing Status</button>
                </td>
                <td>
                    {{ paydf.at[row_headers.index('State Filing Status'), col_headers[2]] }}
                </td>
                <td>
                    <select class="dropdown" name="state_filing_status_f">
                        {% for x in TAX_FILING_TYPES[0:2] %}
                            <option value="{{x}}" {% if options|length > 7 and options[7]|length > 1 and x == options[7][1] %} selected {% endif %}>{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="dropdown month-dropdown" name="state_filing_status_m">
                        {% for x in month_options %}
                            <option value="{{x}}" {% if options|length > 7 and options[7]|length > 2 and x == options[7][2] %} selected {% endif %}>{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td class="row-header-cell">
                    <button class="modal-button" type="button" data-modal="dependents-modal">Dependents</button>
                </td>
                <td>
                    {{ paydf.at[row_headers.index('Dependents'), col_headers[2]] }}
                </td>
                <td>
                    <input class="input-num input-num-long" type="text" onkeypress="return /[0-9]/i.test(event.key)" maxlength="2" name="dependents_f" value="{% if options|length > 8 and options[8]|length > 1 %}{{ options[8][1] }}{% endif %}" />
                </td>
                <td>
                    <select class="dropdown month-dropdown" name="dependents_m">
                        {% for x in month_options %}
                            <option value="{{x}}" {% if options|length > 8 and options[8]|length > 2 and x == options[8][2] %} selected {% endif %}>{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td class="row-header-cell">
                    <button class="modal-button" type="button" data-modal="sgli-coverage-modal">SGLI Coverage</button>
                </td>
                <td>
                    {{ paydf.at[row_headers.index('SGLI Coverage'), col_headers[2]] }}
                </td>
                <td>
                    <select class="dropdown" name="sgli_coverage_f">
                        {% for row in SGLI_RATES.itertuples() %}
                            <option value="{{row.coverage}}" {% if options|length > 9 and options[9]|length > 1 and row.coverage == options[9][1] %} selected {% endif %}>{{row.coverage}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="dropdown month-dropdown" name="sgli_coverage_m">
                        {% for x in month_options %}
                            <option value="{{x}}" {% if options|length > 9 and options[9]|length > 2 and x == options[9][2] %} selected {% endif %}>{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td class="row-header-cell">
                    <button class="modal-button" type="button" data-modal="combat-zone-modal">Combat Zone</button>
                </td>
                <td>
                    {{ paydf.at[row_headers.index('Combat Zone'), col_headers[2]] }}
                </td>
                <td>
                    <select class="dropdown" name="combat_zone_f">
                        <option value="No" {% if options|length > 10 and options[10]|length > 1 and options[10][1] == 'No' %} selected {% endif %}>No</option>
                        <option value="Yes" {% if options|length > 10 and options[10]|length > 1 and options[10][1] == 'Yes' %} selected {% endif %}>Yes</option>
                    </select>
                </td>
                <td>
                    <select class="dropdown month-dropdown" name="combat_zone_m">
                        {% for x in month_options %}
                            <option value="{{x}}" {% if options|length > 10 and options[10]|length > 2 and x == options[10][2] %} selected {% endif %}>{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>


        </tbody>


        <!-- standard row options-->
        <tbody class="pos-table-section">
            {% for opt in options %}
                {% set header = opt[0] %}
                {% set future_value = opt[1] if opt|length > 1 else None %}
                {% set future_month = opt[2] if opt|length > 2 else None %}
                {% set row_info = PAYDF_TEMPLATE[PAYDF_TEMPLATE['header'] == header] %}
                {% if row_info.shape[0] > 0 %}
                    {% set varname = row_info.iloc[0]['varname'] %}
                    {% set dtype = row_info.iloc[0]['dtype'] %}
                    {% set required = row_info.iloc[0]['required'] %}
                    {% if not required %}
                        {% set current_idx = row_headers.index(header) %}
                        {% set current_value = paydf.at[current_idx, col_headers[2]] %}
                        <tr class="options-standard-row">
                            <td class="row-header-cell">
                                <button class="modal-button" type="button" data-modal="{{ row_info.iloc[0]['modal'] }}">
                                    {{ header }}
                                </button>
                            </td>
                            <td>{{ '${:,.2f}'.format(current_value|float|abs) }}</td>
                            <td>
                                <input class="input-checkbox" type="checkbox" name="{{ varname }}_f" {% if future_value %} checked {% endif %}>
                            </td>
                            <td>
                                <select class="dropdown month-dropdown" name="{{ varname }}_m">
                                    {% for x in month_options %}
                                    <option value="{{x}}" {% if x == future_month %} selected {% endif %}>{{x}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tbody>

        <tbody>
            <tr>
                <td colspan="4">
                    <button id="update-les-button" class="button button-standard" type="button">Update LES</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>