<div id="content" hx-swap-oob="true">
    <div id="paydf-group">
        <div id="paydf-options-settings">
            <div id="paydf">
                {% include 'paydf_table.html' %}
            </div>
            <div id="options-settings">
                <div id="options">
                    {% include 'options_table.html' %}
                </div>
                <div id="settings">
                    {% include 'settings_table.html' %}
                </div>
            </div>
        </div>
        {% include "les_image.html" %}
    </div>

    {% for modal in modals %}
    <input class="modal-state" id="{{ modal.id }}" type="checkbox" />
    <div class="modal">
        <label class="modal-bg" for="{{ modal.id }}"></label>
        <div class="modal-inner">
            <label class="modal-close" for="{{ modal.id }}"></label>
            <h2>{{ modal.title }}</h2>
            <p>{{ modal.content|safe }}</p>

            {% if modal.id == "modal-sgli" %}
                <table class="modal-table">
                    <tr class="modal-table">
                        <td class="modal-table">Coverage Amount</td>
                        <td class="modal-table">Monthly Premium Rate</td>
                        <td class="modal-table">TSGLI Premium Rate</td>
                        <td class="modal-table">Total Monthly Premium Deduction</td>
                    </tr>
                    {% for row in config['SGLI_RATE'].itertuples() %}
                    <tr class="modal-table">
                        <td class="modal-table">{{ '${:,.2f}'.format(row.coverage) }}</td>
                        <td class="modal-table">{{ '${:,.2f}'.format(row.premium) }}</td>
                        <td class="modal-table">{{ '${:,.2f}'.format(row.tsglipremium) }}</td>
                        <td class="modal-table">{{ '${:,.2f}'.format(row.total) }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}

            <p>More Resources:</p>
            <ul>
                {% for resource in modal.resources %}
                    <li><a href="{{ resource.link }}" target="_blank">{{ resource.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>