{% set PAYDF_TEMPLATE = config.PAYDF_TEMPLATE %}
{% set GRADES = config.GRADES %}
{% set HOME_OF_RECORDS = config.HOME_OF_RECORDS %}
{% set TAX_FILING_TYPES = config.TAX_FILING_TYPES %}
{% set SGLI_RATES = config.SGLI_RATES %}
{% set TRADITIONAL_TSP_RATE_MAX = config.TRADITIONAL_TSP_RATE_MAX %}
{% set ROTH_TSP_RATE_MAX = config.ROTH_TSP_RATE_MAX %}
{% set month_options = col_headers[2:] %}


<form id="options-form">
    <table id="options-table" class="pos-table">
        <tbody class="pos-table-section">
            <tr class="pos-table-header-row">
                <td class="pos-table-header-cell"></td>
                <td class="pos-table-header-cell">Current</td>
                <td class="pos-table-header-cell">Future</td>
                <td class="pos-table-header-cell">Month</td>
            </tr>

            <tr>
                {% set grade = paydf.at[row_headers.index('Grade'), col_headers[2]] %}
                <td class="row-header-cell"><button class="modal-button" type="button" data-modal="grade">Grade</button></td>
                <td>{{ grade }}</td>
                <td>
                    <select class="dropdown" name="grade_f">
                        {% for x in GRADES %}
                            <option value="{{x}}" {% if grade == x %}selected{% endif %}>{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="dropdown month-dropdown" name="grade_m">
                        {% for x in month_options %}
                            <option value="{{x}}">{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                {% set zip_code = paydf.at[row_headers.index('Zip Code'), col_headers[2]] %}
                <td class="row-header-cell"><button class="modal-button" type="button" data-modal="zip-code">Zip Code</button></td>
                <td>{{ zip_code }}</td>
                <td>
                    <input class="input-num input-num-long" type="text" onkeypress="return /[0-9]/i.test(event.key)" maxlength="5" name="zip_code_f" value="" placeholder="{{ zip_code }}" />
                </td>
                <td>
                    <select class="dropdown month-dropdown" name="zip_code_m">
                        {% for x in month_options %}
                            <option value="{{x}}">{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                {% set home_of_record = paydf.at[row_headers.index('Home of Record'), col_headers[2]] %}
                <td class="row-header-cell"><button class="modal-button" type="button" data-modal="home-of-record">Home of Record</button></td>
                <td>{{ home_of_record }}</td>
                <td>
                    <select class="dropdown" name="home_of_record_f">
                        {% for x in HOME_OF_RECORDS %}
                            <option value="{{x}}" {% if home_of_record == x %}selected{% endif %}>{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="dropdown month-dropdown" name="home_of_record_m">
                        {% for x in month_options %}
                            <option value="{{x}}">{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                {% set federal_filing_status = paydf.at[row_headers.index('Federal Filing Status'), col_headers[2]] %}
                <td class="row-header-cell"><button class="modal-button" type="button" data-modal="federal-filing-status">Federal Filing Status</button></td>
                <td>{{ federal_filing_status }}</td>
                <td>
                    <select class="dropdown" name="federal_filing_status_f">
                        {% for x in TAX_FILING_TYPES %}
                            <option value="{{x}}" {% if federal_filing_status == x %}selected{% endif %}>{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="dropdown month-dropdown" name="federal_filing_status_m">
                        {% for x in month_options %}
                            <option value="{{x}}">{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                {% set state_filing_status = paydf.at[row_headers.index('State Filing Status'), col_headers[2]] %}
                <td class="row-header-cell"><button class="modal-button" type="button" data-modal="state-filing-status-modal">State Filing Status</button></td>
                <td>{{ state_filing_status }}</td>
                <td>
                    <select class="dropdown" name="state_filing_status_f">
                        {% for x in TAX_FILING_TYPES[0:2] %}
                            <option value="{{x}}" {% if state_filing_status == x %}selected{% endif %}>{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="dropdown month-dropdown" name="state_filing_status_m">
                        {% for x in month_options %}
                            <option value="{{x}}">{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                {% set dependents = paydf.at[row_headers.index('Dependents'), col_headers[2]] %}
                <td class="row-header-cell"><button class="modal-button" type="button" data-modal="dependents-modal">Dependents</button></td>
                <td>{{ dependents }}</td>
                <td>
                    <input class="input-num input-num-long" type="text" onkeypress="return /[0-9]/i.test(event.key)" maxlength="2" name="dependents_f" value="" placeholder="{{ dependents }}" />
                </td>
                <td>
                    <select class="dropdown month-dropdown" name="dependents_m">
                        {% for x in month_options %}
                            <option value="{{x}}">{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                {% set sgli_coverage = paydf.at[row_headers.index('SGLI Coverage'), col_headers[2]] %}
                <td class="row-header-cell"><button class="modal-button" type="button" data-modal="sgli-coverage-modal">SGLI Coverage</button></td>
                <td>{{ sgli_coverage }}</td>
                <td>
                    <select class="dropdown" name="sgli_coverage_f">
                        {% for row in SGLI_RATES.itertuples() %}
                            <option value="{{row.coverage}}" {% if sgli_coverage == row.coverage %}selected{% endif %}>{{row.coverage}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="dropdown month-dropdown" name="sgli_coverage_m">
                        {% for x in month_options %}
                            <option value="{{x}}">{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                {% set combat_zone = paydf.at[row_headers.index('Combat Zone'), col_headers[2]] %}
                <td class="row-header-cell"><button class="modal-button" type="button" data-modal="combat-zone-modal">Combat Zone</button></td>
                <td>{{ combat_zone }}</td>
                <td>
                    <select class="dropdown" name="combat_zone_f">
                        <option value="No" {% if combat_zone == "No" %}selected{% endif %}>No</option>
                        <option value="Yes" {% if combat_zone == "Yes" %}selected{% endif %}>Yes</option>
                    </select>
                </td>
                <td>
                    <select class="dropdown month-dropdown" name="combat_zone_m">
                        {% for x in month_options %}
                            <option value="{{x}}">{{x}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </tbody>



        <!-- Entitlements/Deductions/Allotments Option Section -->
        <tbody class="pos-table-section">
            {% for row in PAYDF_TEMPLATE.itertuples() %}
                {% if row.option %}
                    {% set header = row.header %}
                    {% set varname = row.varname %}
                    {% set modal = row.modal %}
                    {% if header in row_headers %}
                        <tr>
                            {% set value = paydf.at[row_headers.index(header), col_headers[2]] %}
                            <td class="row-header-cell">
                                <button class="modal-button" type="button" data-modal="{{ modal }}">{{ header }}</button> 
                            </td>
                            <td>{{ value }}</td>
                            <td>
                                <input class="input-num input-num-long" type="text" onkeypress="return /[0-9]/i.test(event.key)" maxlength="5" name="{{ varname }}_f" value="" placeholder="{{ value }}" />
                            </td>
                            <td>
                                <select class="dropdown month-dropdown" name="{{ varname }}_m">
                                    {% for x in month_options %}
                                    <option value="{{ x }}">{{ x }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tbody>




        <!-- TSP Rate Rows Section -->
        <tbody class="pos-table-section">
            {% for i in range(11, 19) %}
                {% set header = row_headers[i] %}
                {% set varname = header|lower|replace(' ', '_') %}
                <tr>
                    {% set tsp = paydf.at[i, col_headers[2]] %}
                    <td class="row-header-cell">
                        <button class="modal-button" type="button" data-modal="{{ tsp }}">{{ header }}</button> 
                    </td>
                    <td>{{ '{}%'.format(tsp) }}</td>
                    <td>
                        <input class="input-num input-num-short" type="text" onkeypress="return /[0-9]/i.test(event.key)" maxlength="2" name="{{ varname }}_f" value="" placeholder="{{ tsp }}" />
                        <span>&nbsp;&nbsp;%</span>
                    </td>
                    <td>
                        <select class="dropdown month-dropdown" name="{{ varname }}_m">
                            {% for x in month_options %}
                            <option value="{{ x }}">{{ x }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% endfor %}
        </tbody>



        <!-- Update Button Section -->
        <tbody>
            <tr>
                <td colspan="4">
                    <button id="update-les-button" class="button button-standard" type="button">Update LES</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>