<div id="content" hx-swap-oob="true">
    <div id="paydf-group">
        <div id="paydf-options-settings">
            <div id="paydf">
                {% include 'paydf_table.html' %}
            </div>
            <div id="options-settings">
                <div id="options">
                    {% include 'paydf_options.html' %}
                </div>
                <div id="settings">
                    {% include 'paydf_settings.html' %}
                </div>
            </div>
        </div>
        {% include "les_image.html" %}
    </div>

    {% for modal in modals %}
    <input id="{{ modal.id }}" class="modal-state" type="checkbox" />
    <div class="modal">
        <label class="modal-background" for="{{ modal.id }}"></label>
        <div class="modal-inner">
            <label class="modal-close" for="{{ modal.id }}"></label>
            <h2>{{ modal.title }}</h2>
            <p>{{ modal.content|safe }}</p>

            {% if modal.id == "sgli" %}
                <table class="modal-table">
                    <tr>
                        <td>Coverage Amount</td>
                        <td>Monthly Premium Rate</td>
                        <td>TSGLI Premium Rate</td>
                        <td>Total Monthly Premium Deduction</td>
                    </tr>
                    {% for row in config['SGLI_RATES'].itertuples() %}
                    <tr>
                        <td>{{ '${:,.2f}'.format(row.coverage) }}</td>
                        <td>{{ '${:,.2f}'.format(row.premium) }}</td>
                        <td>{{ '${:,.2f}'.format(row.tsglipremium) }}</td>
                        <td>{{ '${:,.2f}'.format(row.total) }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}

            <p>More Resources:</p>
            <ul>
                {% for resource in modal.resources %}
                    <li><a href="{{ resource.link }}" target="_blank">{{ resource.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>