{% extends "base.html" %}
{% block content %}

<script id="config-data" type="application/json">
    {{ config_js|tojson }}
</script>

<div id="page-resources" class="page">
    <h2>Resource Listing</h2>

    <div id="resources-filters">
        <input id="resources-filter-search"></input>

        <div class="resources-filter-panel-container">
            <button id="button-resources-filter-categories" type="button">Categories</button>
            <div id="resources-filter-categories" class="resources-filter-panel"></div>
        </div>

        <div class="resources-filter-panel-container">
            <button id="button-resources-filter-branches" type="button">Branches</button>
            <div id="resources-filter-branches" class="resources-filter-panel"></div>
        </div>

        <span id="resources-count"></span>
    </div>

    <div id="resources-listing"></div>
    <div id="resources-pagination"></div>

    <p>Is a resource link not working? Or want a resource added? Please contact me.</p>
</div>

{% endblock %}