{% extends "base.html" %}
{% block content %}

<div id="resources">
    {% for category in resources %}
        <h2 id="{{ category.id }}">{{ category.category }}</h2>
        <div class="resource-container shadow">
            {% for item in category['items'] %}
                <a href="{{ item.url }}" target="_blank">
                    <div class="resource">
                        <strong>{{ item.name }}</strong>
                        - {{ item.desc }}
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endfor %}
</div>

{% endblock %}