<div id="settings">
    <div id="settings-budget">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Settings</th>
                </tr>
            </thead>
            <tbody>
                {% if show_guide_buttons %}
                    <tr class="section-break">
                        <td>
                            <button id="button-guide-budget" class="button-solo">Guide</button>
                        </td>
                    </tr>
                {% endif %}

                <tr>
                    <td>
                        <label for="dropdown-months-num">Months Displayed:</label>
                        <select id="dropdown-months-num" name="months_num" hx-post="/route_change_months" hx-target="#tables" hx-swap="innerHTML">
                            {% for i in range(2, 13) %}
                                <option value="{{i}}" {% if i==months|length %} selected {% endif %}>{{i}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="checkbox-row">
                            <label for="checkbox-highlight-budget">Highlight Changes:</label>
                            <input id="checkbox-highlight-budget" class="checkbox-styled" type="checkbox">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="checkbox-row">
                            <label for="checkbox-variables">Show All Variables:</label>
                            <input id="checkbox-variables" class="checkbox-styled" type="checkbox">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <button id="button-inject" class="button-solo">Add Custom Row</button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <button id="button-account-bank" class="button-solo">Add Bank Account</button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <button id="button-discrepancies" class="button-solo">
                            Pay Discrepancies
                            <span class="badge" id="badge-discrepancies"></span>
                        </button>
                    </td>
                </tr>

                <tr class="section-break">
                    <td>
                        <button id="button-recommendations" class="button-solo">
                            Recommendations
                            <span class="badge" id="badge-recommendations"></span>
                        </button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="export-row">
                            <span>Export as:</span>
                            <select id="dropdown-export-budget">
                                <option value="xlsx">Excel</option>
                                <option value="csv">CSV</option>
                            </select>
                            <button id="button-export-budget" class="button-solo" title="Download">↯</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div id="settings-tsp">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Settings</th>
                </tr>
            </thead>
            <tbody>
                {% if show_guide_buttons %}
                    <tr class="section-break">
                        <td>
                            <button id="button-guide-tsp" class="button-solo">Guide</button>
                        </td>
                    </tr>
                {% endif %}

                <tr>
                    <td>
                        <div class="checkbox-row">
                            <label for="checkbox-highlight-tsp">Highlight Changes:</label>
                            <input id="checkbox-highlight-tsp" class="checkbox-styled" type="checkbox">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="checkbox-row">
                            <label for="checkbox-tsp-rates">Show TSP Rates:</label>
                            <input id="checkbox-tsp-rates" class="checkbox-styled" type="checkbox">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <button id="button-account-tsp" class="button-solo">Add TSP Account</button>
                    </td>
                </tr>

                <tr class="section-break">
                    <td>
                        <button id="button-tsp-analysis" class="button-solo">TSP Analysis</button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="export-row">
                            <span>Export as:</span>
                            <select id="dropdown-export-tsp">
                                <option value="xlsx">Excel</option>
                                <option value="csv">CSV</option>
                            </select>
                            <button id="button-export-tsp" class="button-solo" title="Download">↯</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
