<div id="settings">
    <table class="pos-table" id="settings-table">
        {% set show_all_variables = session.get('show_all_variables', False) %}
        {% set highlight_changes = session.get('highlight_changes', False) %}
        {% set show_all_options = session.get('show_all_options', False) %}

        <tbody>
            <tr class="pos-table-header">
                <td class="pos-table-header" colspan=2 style="border-radius: 20px 20px 0 0;">Settings</td>
            </tr>

            <tr class="pos-table">

                <!-- months display-->
                <td class="pos-table" style="width: 50%;">
                    <div class="settings-row">
                        <label>Months Displayed: &nbsp;</label>
                    </div>
                    <div class="settings-row">
                        <form id="settings-form"
                            hx-post="/update_paydf"
                            hx-target="#paydf-group"
                            hx-swap="outerHTML"
                            hx-trigger="change"
                            hx-include="#options-form">
                            <select class="pos-table" id="months-dropdown" name="months_display"
                                    onchange="this.form.dispatchEvent(new Event('change', {bubbles:true}))">
                                {% for x in range(2, 13) %}
                                    <option value="{{x}}" {% if x==months_display %} selected {% endif %}>{{x}}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </td>
                
                <!-- highlight changes -->
                <td class="pos-table" style="width: 50%;">
                    <div class="settings-row">
                        <label for="highlight-changes-checkbox">Highlight Changes:</label>
                        <input type="checkbox" id="highlight-changes-checkbox">
                    </div>
                </td>
            </tr>


            <tr class="pos-table">
                <!-- show all variables -->
                <td class="pos-table" style="width: 50%;">
                    <div class="settings-row">
                        <label for="show-all-variables-checkbox">Show All Variables:</label>
                        <input type="checkbox" id="show-all-variables-checkbox" onclick="show_all_variables()">
                    </div>
                </td>

                
                <!-- show all options -->
                <td class="pos-table" style="width: 50%;">
                    <div class="settings-row">
                        <label for="show-all-options-checkbox">Show All Options:</label>
                        <input type="checkbox" id="show-all-options-checkbox">
                    </div>
                </td>
            </tr>


            <!-- export-->
            <tr class="pos-table">
                <td class="pos-table" colspan=2>
                    <div class="settings-row">
                        <label>Export as:</label>
                    </div>
                    <div class="settings-row">
                        <select id="export-dropdown" class="pos-table">
                            <option value="xlsx" selected>Excel</option>
                            <option value="csv">CSV</option>
                        </select>
                    </div>
                    <div class="settings-row">
                        <button id="export-button" onclick="downloadFile()">Export</button>
                    </div>
                </td>
            </tr>


            <!-- submit new les-->
            <tr class="pos-table">
                <td class="pos-table" colspan=2>
                    <div class="settings-row">
                        <label>Upload New LES: </label>
                    </div>
                    <div class="settings-row">
                         <form hx-post="/submit_les" hx-target="#content" hx-swap="innerHTML" enctype="multipart/form-data">
                            <input type="file" id="settings-input" name="submit-input" accept=".pdf" />
                            <button id="submit-new-les-button">Submit</button>
                        </form>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>