<div id="settings">
    <div class="container-budgets-settings">
        <div id="settings-pay">
            <table class="styled">
                <thead>
                    <tr>
                        <th>Settings</th>
                    </tr>
                </thead>
                <tbody>
                    {% if show_guide_buttons %}
                        <tr class="section-break">
                            <td>
                                <button id="button-modal-guide-pay" class="button-generic button-positive button-setting">Guide</button>
                            </td>
                        </tr>
                    {% endif %}

                    <tr>
                        <td>
                            <label for="dropdown-months-num">Months Displayed:</label>
                            <select id="dropdown-months-num" name="months_num" hx-post="/route_change_months" hx-target="#budgets" hx-swap="innerHTML">
                                {% for i in range(2, 13) %}
                                    <option value="{{i}}" {% if i==months|length %} selected {% endif %}>{{i}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="checkbox-row">
                                <label for="checkbox-highlight-pay">Highlight Changes:</label>
                                <input id="checkbox-highlight-pay" class="styled" type="checkbox">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="checkbox-row">
                                <label for="checkbox-variables">Show All Variables:</label>
                                <input id="checkbox-variables" class="styled" type="checkbox">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <button id="button-modal-inject" class="button-generic button-positive button-setting">
                                Add Custom Row
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <button id="button-modal-account-deposit" class="button-generic button-positive button-setting">
                                Edit Deposit Account
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <button id="button-modal-discrepancies" class="button-generic button-positive button-setting">
                                Pay Discrepancies
                                <span class="badge" id="badge-discrepancies"></span>
                            </button>
                        </td>
                    </tr>

                    <tr class="section-break">
                        <td>
                            <button id="button-modal-recommendations" class="button-generic button-positive button-setting">
                                Recommendations
                                <span class="badge" id="badge-recommendations"></span>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="export-row">
                                <span>Export as:</span>
                                <select id="dropdown-export-pay">
                                    <option value="xlsx">Excel</option>
                                    <option value="csv">CSV</option>
                                </select>
                                <button id="button-export-pay" class="button-generic button-positive" title="Download">↯</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container-budgets-settings">
        <div id="settings-tsp">
            <table class="styled">
                <thead>
                    <tr>
                        <th>Settings</th>
                    </tr>
                </thead>
                <tbody>
                    {% if show_guide_buttons %}
                        <tr class="section-break">
                            <td>
                                <button id="button-modal-guide-tsp" class="button-generic button-positive button-setting">
                                    Guide
                                </button>
                            </td>
                        </tr>
                    {% endif %}

                    <tr>
                        <td>
                            <div class="checkbox-row">
                                <label for="checkbox-highlight-tsp">Highlight Changes:</label>
                                <input id="checkbox-highlight-tsp" class="styled" type="checkbox">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="checkbox-row">
                                <label for="checkbox-tsp-rates">Show TSP Rates:</label>
                                <input id="checkbox-tsp-rates" class="styled" type="checkbox">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <button id="button-modal-account-tsp" class="button-generic button-positive button-setting">
                                Edit TSP Account
                            </button>
                        </td>
                    </tr>

                    <tr class="section-break">
                        <td>
                            <button id="button-modal-tsp-analysis" class="button-generic button-positive button-setting">
                                TSP Analysis
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="export-row">
                                <span>Export as:</span>
                                <select id="dropdown-export-tsp">
                                    <option value="xlsx">Excel</option>
                                    <option value="csv">CSV</option>
                                </select>
                                <button id="button-export-tsp" class="button-generic button-positive" title="Download">↯</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
